Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Fixing test scripts
  .github/workflows/develop-deployment.yml
  .github/workflows/master-deployment.yml
  .github/workflows/master-test.yml
Due: none

Revert lockfile
  yarn.lock
Due: none

feat:added a space after a comma in relationship
  src/chart/graph/component/GraphEntityInspectionTable.tsx
Due: prettier --write, eslint --fix

Dropdown fix and housekeep
  apps/neodash-editor/src/card/settings/CardSettingsContent.tsx
  apps/neodash-editor/src/card/view/CardViewFooter.tsx
  apps/neodash-editor/tsconfig.json
  apps/neodash-editor/webpack.config.js
  postcss.config.js
  tailwind.config.js
Due: prettier --write, eslint --fix

Feat: Border around cards and minimizable buttons for the cards.
  package.json
  src/card/Card.tsx
  src/card/view/CardView.tsx
  src/card/view/CardViewHeader.tsx
  src/config/ReportConfig.tsx
  src/page/Page.tsx
  src/page/PageActions.ts
  src/page/PageReducer.ts
  src/page/PageSelectors.ts
  src/page/PageThunks.ts
  yarn.lock
Due: prettier --write, eslint --fix

Feat: Border around cards and minimize button
  src/component/subreport/Subreport.tsx
  src/page/Page.tsx
  src/page/PageToolBox.tsx
  src/utils/ReportUtils.ts
Due: prettier --write, eslint --fix

Feat: Border around cards and minimize button
  src/page/PageToolBox.tsx
  src/utils/ReportUtils.ts
Due: prettier --write, eslint --fix

Feat: Border around cards and Minimize button for cards
  src/component/groupreport/GroupReport.tsx
  src/page/Page.tsx
Due: prettier --write, eslint --fix

replaced with regex
  src/chart/graph/component/GraphEntityInspectionTable.tsx
Due: prettier --write, eslint --fix

Feat: Border around cards and minimize button
  src/card/Card.tsx
  src/page/Page.tsx
  src/page/PageToolBox.tsx
Due: prettier --write, eslint --fix

Adding a table cell option that will expand on hover, can be used optionally in tables where content overflows cell width
  src/chart/table/TableChart.tsx
  src/component/misc/DataGridExpandRenderer.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

reverting dockerfile to older version
  Dockerfile
Due: none

Updated dashboard loading mechanism, iterating
  src/application/ApplicationReducer.ts
  src/application/ApplicationThunks.ts
  src/config/ApplicationConfig.ts
  src/dashboard/DashboardActions.ts
  src/dashboard/DashboardReducer.ts
  src/dashboard/DashboardSelectors.ts
  src/dashboard/DashboardThunks.ts
  src/dashboard/header/DashboardHeaderPageTitle.tsx
  src/dashboard/header/DashboardTitle.tsx
  src/dashboard/sidebar/DashboardSidebar.tsx
  src/dashboard/sidebar/DashboardSidebarDashboardMenu.tsx
  src/modal/LoadModal.tsx
  src/modal/ShareModal.tsx
Due: prettier --write, eslint --fix

Title not editable in standalone mode
  src/dashboard/header/DashboardTitle.tsx
Due: prettier --write, eslint --fix

Removing unnecessary and incorrect react.useState call
  src/chart/table/TableChart.tsx
  src/component/misc/DataGridExpandRenderer.tsx
Due: prettier --write, eslint --fix

Added source, target details in relationship detail view
  src/chart/graph/component/GraphChartInspectModal.tsx
  src/chart/graph/util/NodeUtils.ts
Due: prettier --write, eslint --fix

Changed dockerfile to be executable on kubernetes, added SkipConfirmation to standaloneDashboards as well
  Dockerfile
  scripts/config-entrypoint.sh
  src/application/ApplicationActions.ts
  src/application/ApplicationReducer.ts
  src/application/ApplicationSelectors.ts
  src/application/ApplicationThunks.ts
  src/dashboard/Dashboard.tsx
  src/modal/ConnectionModal.tsx
Due: prettier --write, eslint --fix

standalone load v1 (working)
  docs/modules/ROOT/pages/developer-guide/configuration.adoc
  docs/modules/ROOT/pages/developer-guide/state-management.adoc
  public/config.json
  scripts/config-entrypoint.sh
  src/application/ApplicationActions.ts
  src/application/ApplicationReducer.ts
  src/application/ApplicationSelectors.ts
  src/application/ApplicationThunks.ts
  src/dashboard/header/DashboardTitle.tsx
  src/modal/LoadModal.tsx
Due: prettier --write, eslint --fix

Working commit for table width preservation in fullscreen
  src/index.pcss
Due: none

load from database refinements with new conf var
  docs/modules/ROOT/pages/developer-guide/configuration.adoc
  docs/modules/ROOT/pages/developer-guide/state-management.adoc
  public/config.json
  scripts/config-entrypoint.sh
  src/application/ApplicationActions.ts
  src/application/ApplicationReducer.ts
  src/application/ApplicationSelectors.ts
  src/application/ApplicationThunks.ts
  src/modal/LoadModal.tsx
Due: prettier --write, eslint --fix

config.json reset to defaults
  public/config.json
Due: prettier --write

Refactored code
  src/component/groupreport/GroupReport.tsx
  src/page/PageReducer.ts
  src/page/PageToolBox.tsx
Due: prettier --write, eslint --fix

now when changing database in a card the query will retrigger correctly
  src/card/view/CardView.tsx
Due: prettier --write, eslint --fix

Refactored code
  src/chart/graph/GraphChart.tsx
  src/chart/graph/GraphChartVisualization.ts
  src/chart/graph/component/GraphChartInspectModal.tsx
  src/chart/graph/component/GraphEntityInspectionTable.tsx
  src/chart/graph/util/NodeUtils.ts
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Refactored code
  src/card/Card.tsx
  src/card/view/CardView.tsx
  src/config/ReportConfig.tsx
  src/page/Page.tsx
Due: prettier --write, eslint --fix

Refactored code
  src/page/Page.tsx
Due: prettier --write, eslint --fix

adding schema sampling with apoc.meta.data and changing system prompt
  src/extensions/query-translator/clients/ModelClient.ts
  src/extensions/query-translator/clients/OpenAi/OpenAiClient.ts
  src/extensions/query-translator/clients/const.ts
Due: prettier --write, eslint --fix

first implementation - needs few refinements
  docs/modules/ROOT/pages/developer-guide/configuration.adoc
  docs/modules/ROOT/pages/developer-guide/standalone-mode.adoc
  docs/modules/ROOT/pages/developer-guide/state-management.adoc
  public/config.json
  scripts/config-entrypoint.sh
  src/application/ApplicationActions.ts
  src/application/ApplicationReducer.ts
  src/application/ApplicationSelectors.ts
  src/application/ApplicationThunks.ts
  src/dashboard/DashboardThunks.ts
Due: prettier --write, eslint --fix

Refactored code
  src/card/view/CardView.tsx
  src/page/Page.tsx
Due: prettier --write, eslint --fix

Refactored code
  src/card/view/CardView.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Updated dashboard loading mechanism, iterating
  src/application/Application.tsx
  src/application/ApplicationReducer.ts
  src/application/ApplicationThunks.ts
  src/dashboard/DashboardThunks.ts
  src/dashboard/sidebar/DashboardSidebar.tsx
  src/dashboard/sidebar/DashboardSidebarCreateMenu.tsx
  src/dashboard/sidebar/DashboardSidebarDashboardMenu.tsx
  src/dashboard/sidebar/DashboardSidebarSaveModal.tsx
  src/modal/LoadModal.tsx
  src/modal/UpgradeOldDashboardModal.tsx
Due: prettier --write, eslint --fix

Updated file structure for dashboard sidebar
  src/dashboard/sidebar/DashboardSidebar.tsx
  src/dashboard/sidebar/menu/DashboardSidebarCreateMenu.tsx
  src/dashboard/sidebar/menu/DashboardSidebarDashboardMenu.tsx
  src/dashboard/sidebar/menu/DashboardSidebarDatabaseMenu.tsx
  src/dashboard/sidebar/modal/DashboardSidebarCreateModal.tsx
  src/dashboard/sidebar/modal/DashboardSidebarExportModal.tsx
  src/dashboard/sidebar/modal/DashboardSidebarLoadModal.tsx
  src/dashboard/sidebar/modal/DashboardSidebarSaveModal.tsx
  src/modal/SaveModal.tsx
Due: prettier --write, eslint --fix

Split apps/packages in monorepo structure
  apps/neodash-editor/package.json
Due: prettier --write

Restructuring monorepo files into a stable state
  apps/neodash-editor/package.json
  apps/neodash-editor/src/index.tsx
  apps/neodash-editor/src/store.ts
  package.json
  packages/neodash-engine/package.json
  packages/neodash-engine/src/application/Application.tsx
  packages/neodash-engine/src/extensions/advancedcharts/chart/areamap/PolygonLayer.tsx
  packages/neodash-engine/src/extensions/query-translator/component/LoadingIcon.tsx
  packages/neodash-engine/src/index.tsx
  packages/neodash-engine/tsconfig.json
Due: prettier --write, eslint --fix

cleaning code and adding examples management
  src/extensions/query-translator/clients/ModelClient.ts
  src/extensions/query-translator/clients/const.ts
  src/extensions/query-translator/state/QueryTranslatorActions.ts
  src/extensions/query-translator/state/QueryTranslatorReducer.ts
  src/extensions/query-translator/state/QueryTranslatorSelector.ts
Due: prettier --write, eslint --fix

Fixed broken tailwind config
  apps/neodash-editor/tailwind.config.js
  packages/neodash-engine/src/index.pcss
  packages/neodash-engine/tailwind.config.js
Due: prettier --write

Fixed build script for editor
  package.json
Due: prettier --write

starting working on plugging examples to the model
  src/extensions/query-translator/state/QueryTranslatorThunks.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.json)) or (any of: *.js)
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
