Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Changed row height to automatic
  src/chart/table/TableChart.tsx
Due: prettier --write, eslint --fix

Merge
  src/application/Application.tsx
  src/application/ApplicationActions.ts
  src/application/ApplicationReducer.ts
  src/application/ApplicationThunks.ts
  src/modal/LoadSharedDashboardModal.tsx
Due: prettier --write, eslint --fix

Merge
  src/application/ApplicationThunks.ts
  src/modal/LoadSharedDashboardModal.tsx
Due: prettier --write, eslint --fix

Revert unused changes to code
  src/application/Application.tsx
  src/modal/LoadSharedDashboardModal.tsx
Due: prettier --write, eslint --fix

Removed unused console log statement
  src/application/ApplicationThunks.ts
Due: prettier --write, eslint --fix

Updating interface
  src/extensions/ExtensionConfig.tsx
  src/extensions/query-translator/QueryTranslatorConfig.ts
  src/extensions/query-translator/clients/ModelClient.ts
  src/extensions/query-translator/clients/OpenAiClient.ts
  src/extensions/query-translator/clients/VertexAiClient.ts
  src/extensions/query-translator/clients/const.ts
  src/extensions/query-translator/component/ClientSettings.tsx
  src/extensions/query-translator/component/QueryTranslator.tsx
  src/extensions/query-translator/component/QueryTranslatorSettingsModal.tsx
  src/extensions/query-translator/state/QueryTranslatorThunks.ts
  src/settings/SettingsModal.tsx
Due: prettier --write, eslint --fix

Styling of extensions
  public/translator.png
  src/extensions/ExtensionConfig.tsx
  src/extensions/ExtensionsModal.tsx
  src/extensions/query-translator/component/QueryTranslator.tsx
Due: prettier --write, eslint --fix

Style tweak
  src/dashboard/drawer/DashboardDrawer.tsx
Due: prettier --write, eslint --fix

No Race
  src/application/Application.tsx
  src/application/ApplicationThunks.ts
Due: prettier --write, eslint --fix

Add URL option to override confirmation screen for shared dashboards (#476)
  src/application/Application.tsx
  src/application/ApplicationActions.ts
  src/application/ApplicationReducer.ts
  src/application/ApplicationThunks.ts
  src/modal/LoadSharedDashboardModal.tsx
Due: prettier --write, eslint --fix

implemented copy functionality with keyboard
  src/component/misc/DataGridExpandedRenderer.tsx
Due: prettier --write, eslint --fix

Added dual-language support for card settings content
  src/card/settings/CardSettingsContent.tsx
  src/extensions/ExtensionConfig.tsx
  src/extensions/query-translator/component/LanguageToggleSwitch.tsx
Due: prettier --write, eslint --fix

Added material-ui to package.json, not sure if this change is correct - need to check
  package.json
  src/component/misc/DataGridExpandedRenderer.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Changed package json to match develop from neodash
  package.json
  yarn.lock
Due: prettier --write

Fixed material-ui errors by changing imports in LoadSharedDashboard
  src/modal/LoadSharedDashboardModal.tsx
Due: prettier --write, eslint --fix

Adding dummy file for triggering dev workflow
  workflowTrigger.file
Due: none

refactoring some variable names, added reducer for lastMessage
  src/extensions/query-translator/component/ClientSettings.tsx
  src/extensions/query-translator/component/QueryTranslator.tsx
  src/extensions/query-translator/component/QueryTranslatorSettingsModal.tsx
  src/extensions/query-translator/state/QueryTranslatorActions.ts
  src/extensions/query-translator/state/QueryTranslatorReducer.ts
  src/extensions/query-translator/state/QueryTranslatorSelector.ts
  src/extensions/query-translator/state/QueryTranslatorThunks.ts
Due: prettier --write, eslint --fix

refactoring some variable names, added reducer for lastMessage
  src/extensions/query-translator/state/QueryTranslatorThunks.ts
Due: prettier --write, eslint --fix

Adding new workflow to automate develop test deploy. Wrote basic github action steps
  .github/workflows/develop-test-deploy.yml
Due: none

Adding new workflow to automate develop test deploy. Changed setup-nodev to v1
  .github/workflows/develop-test-deploy.yml
Due: none

Adding new workflow to automate develop test deploy. Removed stray v at actions/nodev1
  .github/workflows/develop-test-deploy.yml
Due: none

Adding new workflow to automate develop test deploy. Show all files in dir
  .github/workflows/develop-test-deploy.yml
Due: none

Adding new workflow to automate develop test deploy. Changed Context
  .github/workflows/develop-test-deploy.yml
Due: none

Adding new workflow to automate develop test deploy. Added test step with docker artifact upload download
  .github/workflows/develop-test-deploy.yml
Due: none

Adding new workflow to automate develop test deploy. Removed stray comments
  .github/workflows/develop-test-deploy.yml
Due: none

Adding new workflow to automate develop test deploy. Changed ordering of steps
  .github/workflows/develop-test-deploy.yml
Due: none

Adding new workflow to automate develop test deploy. Added docker download and push step
  .github/workflows/develop-test-deploy.yml
Due: none

Adding new workflow to automate develop test deploy. Added develop deploy file
  .github/workflows/develop-deployment.yml
  .github/workflows/develop-test-deploy.yml
Due: none

Adding new workflow to automate develop test deploy. Created new workflow files
  .github/workflows/develop-deployment.yml
  .github/workflows/develop-test-deploy.yml
Due: none

Adding new workflow to automate develop test deploy. Created new workflow files
  .github/workflows/develop-deployment.yml
Due: none

Adding new workflow to automate develop test deploy. Changed event for docker tag
  .github/workflows/develop-deployment.yml
Due: none

Adding new workflow to automate develop test deploy. Removed use of build artifacts
  .github/workflows/develop-deployment.yml
Due: none

Adding new workflow to automate develop test deploy. Changed login to docker
  .github/workflows/develop-deployment.yml
Due: none

add mqtt support, but not working yet
  README.md
  docker-compose.databases.yml
  docker-compose.yml
  package.json
  public/dynabic-logo.png
  samples/dashboard-23-06-07.json
  samples/sample-data.cypher
  src/chart/datasource/DataSource.tsx
  src/chart/datasource/component/MqttList.tsx
  src/chart/datasource/component/RestGet.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.json)) or (any of: *.js)
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
