Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Monorepo fixes
  apps/docs/package-lock.json
  apps/gallery/package.json
  apps/gallery/postcss.config.js
  apps/gallery/public/index.html
  apps/gallery/webpack.config.js
  apps/gallery/yarn.lock
  apps/neodash-editor/webpack.config.js
  yarn.lock
Due: prettier --write

added steps to test GDS and changed error definition logic in workflowRunner
  src/extensions/workflows/WorkflowSteps.ts
  src/extensions/workflows/util/WorkflowRunner.ts
Due: prettier --write, eslint --fix

added images for docs and changed example for areaMap
  docs/modules/ROOT/images/areamap-countries.png
  docs/modules/ROOT/images/areamap-regions.png
  docs/modules/ROOT/pages/user-guide/reports/areamap.adoc
  src/extensions/advancedcharts/AdvancedChartsExampleConfig.ts
Due: prettier --write, eslint --fix

Fix dead links in docs
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/user-guide/extensions/advanced-visualizations.adoc
Due: none

bold text for upload only supports neo4j 5 version
  src/solutions/components/database/SelectDatabase.js
Due: prettier --write

Bump Needle to fix icon misplacement
  package.json
  yarn.lock
Due: prettier --write

merged configure and publish step
  src/solutions/components/SaveToHiveModal.tsx
Due: prettier --write, eslint --fix

Final touched to area map docs
  docs/modules/ROOT/pages/user-guide/reports/areamap.adoc
Due: none

from now, when a workflow is running, you can't start the others workflow or modify the current one
  src/extensions/workflows/NeoWorkflowDrawerButton.tsx
  src/extensions/workflows/WorkflowListModal.tsx
Due: prettier --write, eslint --fix

Fixed drilldown styling for area map
  docs/modules/ROOT/pages/user-guide/reports/parameter-select.adoc
  src/extensions/advancedcharts/AdvancedChartsReportConfig.tsx
  src/extensions/advancedcharts/chart/areamap/PolygonLayer.tsx
Due: prettier --write, eslint --fix

Fix node color scheme dropdown
  src/component/field/Field.tsx
  src/component/field/Setting.tsx
Due: prettier --write, eslint --fix

Removed old console statements
  src/extensions/advancedcharts/chart/areamap/AreaMapChart.tsx
  src/extensions/advancedcharts/chart/areamap/PolygonLayer.tsx
Due: prettier --write, eslint --fix

bootstrapping color logic for drawer button
  src/extensions/workflows/NeoWorkflowDrawerButton.tsx
  src/extensions/workflows/NeoWorkflowRunnerModal.tsx
Due: prettier --write, eslint --fix

only use one react version, use npm lockfile instead of yarn lockfile
  apps/docs/yarn.lock
  apps/gallery/package.json
  apps/neodash-editor/package.json
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

Fix Cypress tests
  cypress/integration/start_page.spec.js
Due: prettier --write

Large file size error message handling.
  src/solutions/components/database/Dropzone.js
Due: prettier --write

Added support email text
  src/solutions/components/SaveToHiveModal.tsx
Due: prettier --write, eslint --fix

Removed report actions
  src/card/settings/CardSettingsFooter.tsx
  src/card/view/CardView.tsx
  src/chart/SettingsUtils.ts
  src/chart/graph/GraphChart.tsx
  src/chart/graph/GraphChartVisualization2D.tsx
  src/chart/map/MapChart.tsx
  src/chart/map/layers/MarkerLayer.tsx
  src/chart/table/TableChart.tsx
  src/extensions/ExtensionConfig.ts
  src/extensions/actions/ActionsRuleCreationModal.tsx
  src/extensions/advancedcharts/Utils.ts
Due: prettier --write, eslint --fix

Revert version numbers, revert deploy script
  .github/workflows/master-deployment.yml
  Dockerfile
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  package.json
  src/modal/AboutModal.tsx
Due: prettier --write, eslint --fix

Revert licence
  LICENSE
Due: none

Revert readme
  README.md
Due: none

some simple refactoring in areaMap
  src/extensions/advancedcharts/chart/areamap/PolygonLayer.tsx
Due: prettier --write, eslint --fix

added status management for the total workflow inside the workflowRunner to add more colors to the UI, binded stop Button to UI
  src/extensions/workflows/NeoWorkflowDrawerButton.tsx
  src/extensions/workflows/NeoWorkflowRunnerModal.tsx
  src/extensions/workflows/WorkflowListModal.tsx
  src/extensions/workflows/util/WorkflowRunner.ts
  src/report/ReportQueryRunner.ts
Due: prettier --write, eslint --fix

Missing dashboard name notification
  src/modal/SaveModal.tsx
Due: prettier --write, eslint --fix

Resolved comments on PR
  docs/modules/ROOT/pages/user-guide/extensions/advanced-visualizations.adoc
  src/card/settings/CardSettingsFooter.tsx
Due: prettier --write, eslint --fix

Fix husky Windows issue (#385)
  .husky/common.sh
  .husky/pre-commit
Due: none

fix: hmr with webpack (#396)
  gallery/yarn.lock
  src/application/Application.tsx
Due: prettier --write, eslint --fix

Added newline support, format overrides in single value charts (#387)
  package.json
  src/chart/ChartUtils.ts
  src/chart/json/JSONChart.tsx
  src/chart/single/SingleValueChart.tsx
  src/chart/table/TableChart.tsx
  src/config/ReportConfig.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Fixed drilldown link generator for deep links in graph report
  src/card/view/CardView.tsx
Due: prettier --write, eslint --fix

Fixed drilldown link generator for deep links in graph report (#403)
  src/card/view/CardView.tsx
Due: prettier --write, eslint --fix

added db selector for workflows
  src/extensions/workflows/NeoWorkflowDrawerButton.tsx
  src/extensions/workflows/WorkflowListModal.tsx
  src/extensions/workflows/util/WorkflowRunner.ts
Due: prettier --write, eslint --fix

fixed strange behaviour at workflow startup and added logic to manage correctly the state
  src/extensions/workflows/NeoWorkflowDrawerButton.tsx
  src/extensions/workflows/NeoWorkflowRunnerModal.tsx
  src/extensions/workflows/WorkflowListModal.tsx
  src/extensions/workflows/util/WorkflowRunner.ts
Due: prettier --write, eslint --fix

Removed unused variables
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
  src/chart/parameter/component/QueryParameterSelect.tsx
  src/report/Report.tsx
Due: prettier --write, eslint --fix

Fixes
  src/chart/graph/GraphChart.tsx
  src/chart/table/TableChart.tsx
Due: prettier --write, eslint --fix

Move config order
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Small monorepo fixes
  apps/gallery/package.json
  apps/gallery/src/index.tsx
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.json)) or (any of: *.js)
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
