Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: reload page message
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
Due: prettier --write, eslint --fix

query timeout fix
  src/connection/hive/HiveConnectionModule.tsx
  src/report/Report.tsx
  yarn.lock
Due: prettier --write, eslint --fix

NotificationModal edited
  src/application/ApplicationThunks.ts
  src/modal/NotificationModal.tsx
Due: prettier --write, eslint --fix

refactored
  src/application/ApplicationThunks.ts
Due: prettier --write, eslint --fix

Notification Modal bug
  src/application/ApplicationThunks.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix: refactored code
  src/application/ApplicationThunks.ts
Due: prettier --write, eslint --fix

Fixed booleans for parameter select (#953)
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
Due: prettier --write, eslint --fix

Show OpenStreeMap leaflet
  public/style.css
Due: none

Remove leaflet-custom-tooltip empty rule
  public/style.css
Due: none

Add custom equality check function for Rule Based Styling
  src/extensions/styling/StyleRuleEvaluator.ts
Due: prettier --write, eslint --fix

Use isLooselyEqual to verify "!=" conditions in rule based styling
  src/extensions/styling/StyleRuleEvaluator.ts
Due: prettier --write, eslint --fix

fixing tests according to new feature
  cypress/e2e/bar_chart.cy.js
  cypress/e2e/render/array.cy.js
  cypress/e2e/start_page.cy.js
  cypress/e2e/table.cy.js
Due: prettier --write

changing pagination process
  cypress/e2e/start_page.cy.js
  src/chart/table/TableChart.tsx
Due: prettier --write, eslint --fix

Fix Table rule based styling by applying the first valid rule
  src/chart/table/TableChart.tsx
Due: prettier --write, eslint --fix

Fix evaluateSingleRuleOnDict() function in order to avoid always returning the first evaluation result
  src/chart/table/TableChart.tsx
  src/extensions/styling/StyleRuleEvaluator.ts
Due: prettier --write, eslint --fix

Fix Line chart rule based styling and applying the first matching rule by line
  src/chart/line/LineChart.tsx
Due: prettier --write, eslint --fix

Use correct index for Bar Chart default color selection
  src/chart/bar/BarChart.tsx
Due: prettier --write, eslint --fix

changing version number
  .github/workflows/master-deployment.yml
  Dockerfile
  changelog.md
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  k8s-deploy/neodash/Chart.yaml
  package.json
  release-notes.md
Due: prettier --write

changing version number (#1040)
  .github/workflows/master-deployment.yml
  Dockerfile
  changelog.md
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  k8s-deploy/neodash/Chart.yaml
  package.json
  release-notes.md
Due: prettier --write

removing duplicated banner in docs
  docs/modules/ROOT/pages/user-guide/extensions/access-control-management.adoc
  docs/modules/ROOT/pages/user-guide/extensions/advanced-visualizations.adoc
  docs/modules/ROOT/pages/user-guide/extensions/forms.adoc
  docs/modules/ROOT/pages/user-guide/extensions/index.adoc
  docs/modules/ROOT/pages/user-guide/extensions/natural-language-queries.adoc
  docs/modules/ROOT/pages/user-guide/extensions/report-actions.adoc
  docs/modules/ROOT/pages/user-guide/extensions/rule-based-styling.adoc
  docs/modules/ROOT/pages/user-guide/extensions/workflows.adoc
  docs/modules/ROOT/pages/user-guide/reports/areamap.adoc
  docs/modules/ROOT/pages/user-guide/reports/bar-chart.adoc
  docs/modules/ROOT/pages/user-guide/reports/choropleth.adoc
  docs/modules/ROOT/pages/user-guide/reports/circle-packing.adoc
  docs/modules/ROOT/pages/user-guide/reports/form.adoc
  docs/modules/ROOT/pages/user-guide/reports/gantt.adoc
  docs/modules/ROOT/pages/user-guide/reports/gauge-chart.adoc
  docs/modules/ROOT/pages/user-guide/reports/graph.adoc
  docs/modules/ROOT/pages/user-guide/reports/graph3d.adoc
  docs/modules/ROOT/pages/user-guide/reports/iframe.adoc
  docs/modules/ROOT/pages/user-guide/reports/index.adoc
  docs/modules/ROOT/pages/user-guide/reports/line-chart.adoc
  docs/modules/ROOT/pages/user-guide/reports/map.adoc
  docs/modules/ROOT/pages/user-guide/reports/markdown.adoc
  docs/modules/ROOT/pages/user-guide/reports/parameter-select.adoc
  docs/modules/ROOT/pages/user-guide/reports/pie-chart.adoc
  docs/modules/ROOT/pages/user-guide/reports/radar.adoc
  docs/modules/ROOT/pages/user-guide/reports/raw-json.adoc
  docs/modules/ROOT/pages/user-guide/reports/sankey.adoc
  docs/modules/ROOT/pages/user-guide/reports/single-value.adoc
  docs/modules/ROOT/pages/user-guide/reports/sunburst.adoc
  docs/modules/ROOT/pages/user-guide/reports/table.adoc
  docs/modules/ROOT/pages/user-guide/reports/treemap.adoc
Due: none

Updated version number to 2.4.10 in about modal
  src/modal/AboutModal.tsx
Due: prettier --write, eslint --fix

Update publishing.adoc
  docs/modules/ROOT/pages/user-guide/publishing.adoc
Due: none

Update publishing.adoc (#1045)
  docs/modules/ROOT/pages/user-guide/publishing.adoc
Due: none

Added db button in header - Added db button in header - When on click list of dbs is fetched (if empty) - Selectable menu of dbs
  docs/package-lock.json
  docs/yarn.lock
  package.json
  src/dashboard/header/DashboardHeader.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Connect Map Chart Polygon Drawable with it's own modifieable props for MapChart.tsx. Keep JSX.Element (not React.Element) because this codebase doesn't like that.
  src/chart/Chart.ts
  src/chart/map/MapChart.tsx
  src/chart/map/MapChartPolygonDrawable.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Add sample query for the map chart with drawable polygons; add leaflet-draw and leaflet-draw-react modules to package.json
  package.json
  src/chart/map/MapChartPolygonDrawable.tsx
  src/queries/polygon_map_cypher_query.md
  yarn.lock
Due: prettier --write, eslint --fix

Allow remote loading
  webpack.config.js
Due: prettier --write

cards refresh when bd is changed and dialog to confirm
  src/card/Card.tsx
  src/card/CardActions.ts
  src/card/CardReducer.ts
  src/card/view/CardView.tsx
  src/dashboard/header/DashboardChangeDatabaseConfirmDialog.tsx
  src/dashboard/header/DashboardHeader.tsx
  src/dashboard/header/DashboardHeaderPageList.tsx
  src/page/PageThunks.ts
  src/settings/SettingsThunks.ts
Due: prettier --write, eslint --fix

added selector for card refresh
  src/card/Card.tsx
  src/card/CardSelectors.ts
Due: prettier --write, eslint --fix

adding card refresh
  src/card/Card.tsx
  src/card/view/CardView.tsx
Due: prettier --write, eslint --fix

system is not incuded in change all dbs menus - system is filtered out of the list that populates db change all dbs
  src/dashboard/header/DashboardHeader.tsx
Due: prettier --write, eslint --fix

Working part 1 - Filtering of polygons
  package.json
  src/chart/Chart.ts
  src/chart/map/MapChart.tsx
  src/chart/map/MapChartPolygonDrawable.tsx
  src/chart/map/layers/GeomanDrawingLayer.tsx
  src/chart/map/layers/MarkerLayer.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Tidy up: Remove deprecated + unused code, and add basic typing. Limit the drawing controls to ones that can filter and actually show data (e.g. no Lines).
  src/chart/map/MapChartPolygonDrawable.tsx
Due: prettier --write, eslint --fix

Minor refactoring, improve typing and drawing interface
  src/chart/Chart.ts
  src/chart/map/layers/GeomanDrawingLayer.tsx
  src/chart/map/layers/MarkerLayer.tsx
Due: prettier --write, eslint --fix

Check box for dialog box - Checkbox to ask if change all db dialog should open again
  src/dashboard/header/DashboardChangeDatabaseConfirmDialog.tsx
  src/dashboard/header/DashboardHeader.tsx
Due: prettier --write, eslint --fix

Feature complete - Removed all console.logs - moved refresh and setting of db logic into use effect
  src/card/view/CardView.tsx
  src/dashboard/header/DashboardHeader.tsx
  src/page/PageThunks.ts
  src/settings/SettingsThunks.ts
Due: prettier --write, eslint --fix

Fixed dialog bug - Fixed bug that opened change all cards db dialog when starting app
  src/dashboard/header/DashboardHeader.tsx
Due: prettier --write, eslint --fix

removed refreshPage from DashboardHeaderPageList.tsx
  src/dashboard/header/DashboardHeaderPageList.tsx
Due: prettier --write, eslint --fix

Only keep POIs with a .pos attribute when filtering via geospatial search, incase other objects (e.g. in the query) have no pos data. Also improve naming a little bit to make code more readable.
  src/chart/map/MapChart.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.json)) or (any of: *.js)
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
