Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.tsx": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.js": ["prettier --write"]
}

made changes to the deployment files + shifted around dockerfiles
  .github/workflows/develop-deployment.yml
  .github/workflows/develop-test.yml
  .github/workflows/master-deployment.yml
  .github/workflows/master-test.yml
  apps/neodash-editor/Dockerfile
  apps/neodash-editor/compose.yaml
  apps/neodash-editor/docker-files/config-entrypoint.sh
  apps/neodash-editor/docker-files/default.conf.template
  apps/neodash-editor/docker-files/docker-neo4j-initializer/docker-neo4j.sh
  apps/neodash-editor/docker-files/docker-neo4j-initializer/movies.cypher
  apps/neodash-editor/docker-files/docker-neo4j-initializer/start-movies-db.sh
  apps/neodash-editor/docker-files/message-entrypoint.sh
Due: none

updated paths in all deployfiles
  .github/workflows/develop-deployment.yml
  .github/workflows/develop-test.yml
  .github/workflows/master-deployment.yml
  .github/workflows/master-test.yml
Due: none

added installation of turbo everywhere it was needed
  .github/workflows/develop-deployment.yml
  .github/workflows/develop-test.yml
  .github/workflows/master-deployment.yml
  .github/workflows/master-test.yml
Due: none

Clean on styles
  src/config/ApplicationConfig.ts
  src/dashboard/header/DashboardHeaderLogo.tsx
  src/dashboard/header/DashboardTitle.tsx
Due: prettier --write, eslint --fix

Sun
  src/dashboard/header/DashboardHeader.tsx
Due: prettier --write, eslint --fix

Smells last
  src/card/view/CardView.tsx
  src/dashboard/header/DashboardHeader.tsx
  src/dashboard/header/DashboardHeaderAboutButton.tsx
  src/modal/ConnectionModal.tsx
Due: prettier --write, eslint --fix

Tests
  cypress/e2e/start_page.cy.js
  src/dashboard/header/DashboardTitle.tsx
  src/extensions/ExtensionsModal.tsx
Due: prettier --write, eslint --fix

Remove console log
  src/report/Report.tsx
Due: prettier --write, eslint --fix

added a new item in cypress for path to config-file
  .github/workflows/develop-deployment.yml
  .github/workflows/develop-test.yml
  .github/workflows/master-deployment.yml
  .github/workflows/master-test.yml
Due: none

test
  test
Due: none

Fix review 1
  docs/modules/ROOT/pages/user-guide/reports/parameter-select.adoc
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Fix review 2
  src/chart/parameter/ParameterSelectionChart.tsx
  src/chart/parameter/component/FreeTextParameterSelect.tsx
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
  src/chart/parameter/component/ParameterSelect.ts
  src/chart/parameter/component/RelationshipPropertyParameterSelect.tsx
  src/chart/parameter/component/SelectionConfirmationButton.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Fix review 3
  src/chart/parameter/component/FreeTextParameterSelect.tsx
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
  src/chart/parameter/component/SelectionConfirmationButton.tsx
Due: prettier --write, eslint --fix

Final fix
  src/chart/parameter/component/FreeTextParameterSelect.tsx
Due: prettier --write, eslint --fix

px 80
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
Due: prettier --write, eslint --fix

Tests cypress upgrade
  cypress.config.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

tests more
  cypress/e2e/start_page.cy.js
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
Due: prettier --write, eslint --fix

tests config
  cypress.config.ts
  cypress/e2e/start_page.cy.js
Due: prettier --write, eslint --fix

tests config 2
  .github/workflows/develop-deployment.yml
  .github/workflows/develop-test.yml
  cypress.config.ts
Due: prettier --write, eslint --fix

tests config 3
  cypress.config.ts
Due: prettier --write, eslint --fix

tests config 4
  cypress.config.ts
Due: prettier --write, eslint --fix

tests config no video
  cypress.config.ts
Due: prettier --write, eslint --fix

Tests cloud
  .github/workflows/develop-test.yml
  cypress.config.ts
Due: prettier --write, eslint --fix

Z ref
  cypress/e2e/start_page.cy.js
Due: prettier --write

less deps
  package.json
Due: prettier --write

test retries
  cypress.config.ts
Due: prettier --write, eslint --fix

test revert
  .github/workflows/develop-deployment.yml
  .github/workflows/develop-test.yml
  cypress/plugins/index.js
  package.json
  yarn.lock
Due: prettier --write

Release notes
  .github/workflows/master-deployment.yml
  Dockerfile
  changelog.md
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  package.json
  release-notes.md
  src/modal/AboutModal.tsx
Due: prettier --write, eslint --fix

Fix Switch Fix colors
  src/chart/single/SingleValueChart.tsx
  src/dashboard/header/DashboardHeader.tsx
  src/dashboard/header/DashboardHeaderAboutButton.tsx
  src/report/Report.tsx
Due: prettier --write, eslint --fix

Smells
  src/chart/parameter/component/FreeTextParameterSelect.tsx
  src/dashboard/Dashboard.tsx
  src/dashboard/header/DashboardHeaderPageList.tsx
  src/modal/LoadModal.tsx
Due: prettier --write, eslint --fix

numbers
  changelog.md
  release-notes.md
Due: none

First step nivo theme
  src/chart/Utils.ts
  src/chart/bar/BarChart.tsx
  src/chart/line/LineChart.tsx
  src/chart/pie/PieChart.tsx
  src/chart/scatter/ScatterPlotChart.tsx
  src/extensions/advancedcharts/chart/circlepacking/CirclePackingChart.tsx
  src/extensions/advancedcharts/chart/radar/RadarChart.tsx
  src/extensions/advancedcharts/chart/sankey/SankeyChart.tsx
  src/extensions/advancedcharts/chart/sunburst/SunburstChart.tsx
  src/extensions/advancedcharts/chart/treemap/TreeMapChart.tsx
Due: prettier --write, eslint --fix

More details
  src/chart/Utils.ts
  src/chart/pie/PieChart.tsx
Due: prettier --write, eslint --fix

final
  src/chart/Utils.ts
  src/chart/parameter/ParameterSelectionChart.tsx
  src/chart/table/TableChart.tsx
  src/extensions/advancedcharts/chart/choropleth/ChoroplethMapChart.tsx
  src/extensions/advancedcharts/chart/radar/RadarChart.tsx
  src/extensions/advancedcharts/chart/sankey/SankeyChart.tsx
  src/report/Report.tsx
Due: prettier --write, eslint --fix

Dark theme titles
  src/card/view/CardViewHeader.tsx
Due: prettier --write, eslint --fix

working on arcLength wip
  src/extensions/advancedcharts/chart/gauge/GaugeChart.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Got arc ratio working. Working on colours now
  src/extensions/advancedcharts/chart/gauge/GaugeChart.tsx
Due: prettier --write, eslint --fix

Added arc colours
  src/extensions/advancedcharts/AdvancedChartsReportConfig.tsx
  src/extensions/advancedcharts/chart/gauge/GaugeChart.tsx
Due: prettier --write, eslint --fix

Established arc logic. Doing padding next
  package.json
  src/extensions/advancedcharts/chart/gauge/gc.tsx
  yarn.lock
Due: prettier --write, eslint --fix
