Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.tsx": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.js": ["prettier --write"]
}

Add a dependabot config file
  .github/dependabot.yml
Due: none

Add docs directory to dependabot
  .github/dependabot.yml
Due: none

Fix dependabot yarn to npm
  .github/dependabot.yml
Due: none

Add branch origin check in workflows
  .github/workflows/restrict-merge-to-master.yml
Due: none

solutionshive sonar promise reject error fix
  src/extensions/hive/auth/authLib.ts
  src/extensions/hive/launch/launch.ts
  src/extensions/hive/persistence/SolutionsThunks.ts
Due: prettier --write, eslint --fix

Markdown tables not rendered #836
  package.json
  src/chart/markdown/MarkdownChart.tsx
  src/index.pcss
  yarn.lock
Due: prettier --write, eslint --fix

Include the Helm Chart and Kubernetes YAMLs
  docs/modules/ROOT/pages/developer-guide/build-and-run.adoc
  k8s-deploy/neodash/.helmignore
  k8s-deploy/neodash/Chart.yaml
  k8s-deploy/neodash/README.md
  k8s-deploy/neodash/templates/NOTES.txt
  k8s-deploy/neodash/templates/_helpers.tpl
  k8s-deploy/neodash/templates/deployment.yaml
  k8s-deploy/neodash/templates/hpa.yaml
  k8s-deploy/neodash/templates/ingress.yaml
  k8s-deploy/neodash/templates/service.yaml
  k8s-deploy/neodash/templates/serviceaccount.yaml
  k8s-deploy/neodash/templates/tests/test-connection.yaml
  k8s-deploy/neodash/values.yaml
  k8s-deploy/sample-k8s-yamls/deployment.yaml
  k8s-deploy/sample-k8s-yamls/service.yaml
Due: none

Fixed some Sonarcloud issues
  src/application/ApplicationThunks.ts
  src/connection/ConnectionModule.ts
  src/connection/neo4j/runCypherQuery.ts
Due: prettier --write, eslint --fix

Fix the chart notes
  k8s-deploy/neodash/templates/NOTES.txt
Due: none

Migrate DataGrid to 7.x #850 ; Initial changes
  package.json
  src/chart/table/TableChart.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Another fix for Sonarcloud concerns
  src/connection/ConnectionModule.ts
Due: prettier --write, eslint --fix

Patch a typo in the build-and-run.adoc file
  docs/modules/ROOT/pages/developer-guide/build-and-run.adoc
Due: none

side bar in dashboard
  src/dashboard/Dashboard.tsx
Due: prettier --write, eslint --fix

boolean values, arrays of strings, and integer values in tables as before
  src/component/misc/DataGridExpandRenderer.tsx
Due: prettier --write, eslint --fix

renders for all types (not just string)
  src/component/misc/DataGridExpandRenderer.tsx
Due: prettier --write, eslint --fix

displays number, boolean, array of strings without unnecessary quotes.
  src/component/misc/DataGridExpandRenderer.tsx
Due: prettier --write, eslint --fix

removed side bar
  src/dashboard/Dashboard.tsx
Due: prettier --write, eslint --fix

Fix compact x wrapping
  src/chart/table/TableActionsHelper.ts
  src/chart/table/TableChart.tsx
  src/index.pcss
Due: prettier --write, eslint --fix

Add possibility to hide Y axes and grid lines in BarChart
  docs/modules/ROOT/pages/developer-guide/style-configuration.adoc
  src/chart/bar/BarChart.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

removing useless TODOs (one moved to issues)
  src/report/ReportQueryRunner.ts
Due: prettier --write, eslint --fix

Preserve HTML strings, fix transposed table arrays
  package.json
  src/report/ReportRecordProcessing.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Add comment
  src/report/ReportRecordProcessing.tsx
Due: prettier --write, eslint --fix

inline use-neo4j
  package.json
  src/application/ApplicationThunks.ts
  src/card/Card.tsx
  src/chart/parameter/ParameterSelectCardSettings.tsx
  src/component/misc/DashboardConnectionUpdateHandler.tsx
  src/dashboard/Dashboard.tsx
  src/dashboard/sidebar/DashboardSidebar.tsx
  src/dashboard/sidebar/modal/DashboardSidebarAccessModal.tsx
  src/dashboard/sidebar/modal/legacy/LegacyShareModal.tsx
  src/extensions/forms/settings/NeoFormCardSettings.tsx
  src/extensions/query-translator/component/OverrideCardQueryEditor.tsx
  src/extensions/rbac/RBACManagementMenu.tsx
  src/extensions/rbac/RBACManagementModal.tsx
  src/extensions/text2cypher/component/OverrideCardQueryEditor.tsx
  src/extensions/text2cypher/component/model-examples/ExampleEditorModal.tsx
  src/report/Report.tsx
  src/use-neo4j/connection.ts
  src/use-neo4j/driver.ts
  src/use-neo4j/index.ts
  src/use-neo4j/neo4j-config.interface.ts
  src/use-neo4j/neo4j.context.ts
  src/use-neo4j/neo4j.provider.tsx
  yarn.lock
Due: prettier --write, eslint --fix

bump the driver
  package.json
  src/chart/parameter/component/DateParameterSelect.tsx
  src/extensions/advancedcharts/chart/gauge/GaugeChart.tsx
  src/extensions/advancedcharts/chart/radar/RadarChart.tsx
  src/extensions/advancedcharts/chart/sankey/SankeyChart.tsx
  yarn.lock
Due: prettier --write, eslint --fix

use new driver
  gallery/src/App.tsx
  package.json
  src/chart/Chart.ts
  src/chart/ChartUtils.ts
  src/chart/Utils.ts
  src/chart/graph/util/RecordUtils.ts
  src/chart/parameter/component/DateParameterSelect.tsx
  src/neo4j-driver-lite/neo4j-lite-web.esm.js
  src/use-neo4j/driver.ts
  src/use-neo4j/neo4j.context.ts
  src/use-neo4j/neo4j.provider.tsx
  yarn.lock
Due: prettier --write, eslint --fix

proof of concept
  src/application/ApplicationThunks.ts
  src/dashboard/Dashboard.tsx
  src/report/ReportQueryRunner.ts
  src/report/ReportRecordProcessing.tsx
  src/use-neo4j/driver.ts
  src/use-neo4j/neo4j-config.interface.ts
  src/use-neo4j/neo4j.provider.tsx
Due: prettier --write, eslint --fix

Revert "Merge pull request #120 from mercedes-benz/VULCAN-650/ExpandedCellRenderer"
  src/component/misc/DataGridExpandRenderer.tsx
Due: prettier --write, eslint --fix

Add Husky prepare stage
  package.json
Due: prettier --write

changes to add ssl support
  ssl/Dockerfile
  ssl/default.conf
Due: none

Fix stacked grouped function test
  cypress/e2e/bar_chart.cy.js
Due: prettier --write

Fix pie chart e2e test in start_page.cy
  cypress/e2e/start_page.cy.js
Due: prettier --write

Add Bar chart Y axis e2e tests
  cypress/e2e/bar_chart.cy.js
  cypress/support/commands.js
Due: prettier --write

Add Cypress support in eslintrc.json
  .eslintrc.json
Due: prettier --write

Create Page helper class for Cypress
  cypress/Page.js
  cypress/e2e/bar_chart.cy.js
  cypress/e2e/charts/array.cy.js
  cypress/e2e/charts/bar.cy.js
  cypress/e2e/charts/table.cy.js
  cypress/e2e/start_page.cy.js
  cypress/e2e/utils.js
  cypress/index.js
  cypress/support/commands.js
Due: prettier --write

Update browserlist
  yarn.lock
Due: none

Fix e2e bar tests by removing within
  cypress.config.ts
  cypress/Page.js
  cypress/e2e/charts/array.cy.js
  cypress/e2e/charts/bar.cy.js
  cypress/e2e/start_page.cy.js
Due: prettier --write, eslint --fix

Replace inlined driver-lite with experimental driver
  gallery/src/App.tsx
  package.json
  src/chart/Chart.ts
  src/chart/ChartUtils.ts
  src/chart/Utils.ts
  src/chart/graph/util/RecordUtils.ts
  src/chart/parameter/component/DateParameterSelect.tsx
  src/neo4j-driver-lite/neo4j-lite-web.esm.js
  src/report/ReportQueryRunner.ts
  src/use-neo4j/driver.ts
  src/use-neo4j/neo4j.context.ts
  src/use-neo4j/neo4j.provider.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Migrate identity to elementId
  src/application/ApplicationThunks.ts
  src/chart/ChartUtils.ts
  src/chart/graph/util/RecordUtils.ts
  src/chart/map/MapChart.tsx
  src/config/ExampleConfig.ts
  src/extensions/advancedcharts/AdvancedChartsExampleConfig.ts
  src/extensions/advancedcharts/chart/sankey/SankeyChart.tsx
  src/modal/ConnectionModal.tsx
  src/report/ReportRecordProcessing.tsx
Due: prettier --write, eslint --fix

Resolves SonarCloud warning
  k8s-deploy/neodash/templates/deployment.yaml
  k8s-deploy/neodash/templates/tests/test-connection.yaml
  k8s-deploy/sample-k8s-yamls/deployment.yaml
Due: none

Work in progress to call GraphQL endpoints
  src/application/Application.tsx
  src/application/ApplicationThunks.ts
  src/connection/ConnectionModule.ts
  src/connection/hive/HiveConnectionModule.tsx
  src/connection/neo4j/Neo4jConnectionModule.tsx
  src/connection/utils.ts
  src/dashboard/Dashboard.tsx
  src/extensions/hive/config/dynamicConfig.ts
  src/report/Report.tsx
Due: prettier --write, eslint --fix
