Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

VULCAN-512/prod issues fixed (#93)
  src/chart/graph/component/GraphChartInspectModal.tsx
  src/chart/graph/util/NodeUtils.ts
  src/dashboard/header/DashboardTitle.tsx
  src/page/Page.tsx
Due: prettier --write, eslint --fix

Removed log messages
  src/settings/SettingsThunks.ts
Due: prettier --write, eslint --fix

Removed old dashboard header file
  src/dashboard/header/DashboardHeaderPageButton.tsx
  src/dashboard/header/DashboardHeaderPageList.tsx
Due: prettier --write, eslint --fix

Removed unused Hive reducer
  src/dashboard/DashboardReducer.ts
  src/solutions/persistence/HiveReducer.ts
Due: prettier --write, eslint --fix

Removed old merged code
  src/dashboard/Dashboard.tsx
Due: prettier --write, eslint --fix

Commit
  cypress/e2e/bar_chart.cy.js
  cypress/support/commands.js
Due: prettier --write

Interaction (tooltip) working when "custom label position" == "off"
  src/chart/bar/BarChart.tsx
Due: prettier --write, eslint --fix

fixed merge issue
  src/chart/graph/component/GraphChartInspectModal.tsx
Due: prettier --write, eslint --fix

Fix card height
  src/report/Report.tsx
Due: prettier --write, eslint --fix

Added skeleton for RBAC label button
  src/dashboard/header/DashboardTitle.tsx
  src/extensions/ExtensionConfig.tsx
  src/extensions/rbac/RBACLabelButton.tsx
Due: prettier --write, eslint --fix

Re-added forms extension
  src/extensions/ExtensionConfig.tsx
Due: prettier --write, eslint --fix

Added legendWidth, legendPosition and legendTranslate. Documentation needs altered.
  src/chart/markdown/MarkdownChart.tsx
  src/chart/pie/PieChart.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Storing URLParameters so that they persist after login redirection
  src/solutions/launch/launch.js
Due: prettier --write

Bar Chart Cypress Tests ready for review
  cypress/e2e/bar_chart.cy.js
  cypress/support/commands.js
Due: prettier --write

Organize Hive solutions directory
  src/application/ApplicationThunks.ts
  src/dashboard/Dashboard.tsx
  src/dashboard/DashboardThunks.ts
  src/extensions/hive/auth/auth.js
  src/extensions/hive/auth/authLib.js
  src/extensions/hive/auth/callback.js
  src/extensions/hive/auth/privateRoute.js
  src/extensions/hive/components/PublishInfo.css
  src/extensions/hive/components/PublishInfo.js
  src/extensions/hive/components/SaveToHiveModal.tsx
  src/extensions/hive/components/common/Common.js
  src/extensions/hive/components/database/ConfigureSelfManagedDatabase.js
  src/extensions/hive/components/database/Dropzone.css
  src/extensions/hive/components/database/Dropzone.js
  src/extensions/hive/components/database/SelectDatabase.js
  src/extensions/hive/components/database/SelectExistingDatabase.js
  src/extensions/hive/components/database/UploadDatabase.css
  src/extensions/hive/components/database/UploadDatabase.js
  src/extensions/hive/components/genai/Chat.js
  src/extensions/hive/components/graphql/HiveGraphQL.js
  src/extensions/hive/components/tabs/TabPanel.js
  src/extensions/hive/config/SolutionsConstants.js
  src/extensions/hive/config/dynamicConfig.js
  src/extensions/hive/launch/launch.js
  src/extensions/hive/persistence/FileUpload.js
  src/extensions/hive/persistence/HiveActions.ts
  src/extensions/hive/persistence/SolutionsThunks.ts
  src/extensions/hive/util/util.js
  src/index.tsx
  src/modal/SaveModal.tsx
Due: prettier --write, eslint --fix

wrapped text vertically, to understand how to prevent column resizing
  src/extensions/text2cypher/component/model-examples/ExampleDisplayTable.tsx
Due: prettier --write, eslint --fix

Added abstract class for connection module
  src/auth/ConnectionModule.ts
  src/auth/Neo4jConnectionModule.ts
Due: prettier --write, eslint --fix

first iteration on abstracting connection layer
  src/auth/ConnectionModule.ts
  src/auth/Neo4jConnectionModule.ts
  src/auth/interfaces.ts
  src/auth/neo4j/Neo4jConnectionModule.ts
  src/auth/neo4j/runCypherQuery.ts
  src/auth/neo4j/utils.ts
  src/report/Report.tsx
Due: prettier --write, eslint --fix

commit
  cypress/e2e/bar_chart.cy.js
  cypress/e2e/start_page.cy.js
  cypress/support/commands.js
Due: prettier --write

commit
  cypress/support/commands.js
Due: prettier --write

first iteration on abstracting connection layer
  src/application/ApplicationThunks.ts
  src/application/logging/LoggingThunk.ts
  src/auth/interfaces.ts
  src/auth/neo4j/Neo4jConnectionModule.ts
  src/auth/neo4j/utils.ts
  src/chart/parameter/ParameterSelectCardSettings.tsx
Due: prettier --write, eslint --fix

Added cellWidth to limit width of cells and stop out of scope table. Also added x-direction scrollbar for overflow
  src/extensions/text2cypher/component/model-examples/ExampleDisplayTable.tsx
Due: prettier --write, eslint --fix

cleaning code following sonarcloud's suggestions
  cypress/e2e/bar_chart.cy.js
  src/application/ApplicationThunks.ts
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

init
  cypress/e2e/bar_chart.cy.js
  cypress/e2e/table.cy.js
Due: prettier --write

Added cypress testing e2e components
  cypress/e2e/bar_chart.cy.js
  cypress/e2e/table.cy.js
  cypress/screenshots/bar_chart.cy.js/Testing bar chart -- Testing Show Value on Bars (failed) (attempt 2).png
  cypress/screenshots/bar_chart.cy.js/Testing bar chart -- Testing Show Value on Bars (failed).png
  cypress/support/commands.js
  src/card/settings/CardSettingsContent.tsx
Due: prettier --write, eslint --fix

Ready for review
  cypress/e2e/bar_chart.cy.js
  cypress/e2e/start_page.cy.js
  cypress/screenshots/bar_chart.cy.js/Testing bar chart -- Testing Show Value on Bars -- before each hook open neodash (failed) (attempt 3).png
  cypress/screenshots/start_page.cy.js/NeoDash E2E Tests -- initializes the dashboard (failed) (attempt 2).png
  cypress/screenshots/start_page.cy.js/NeoDash E2E Tests -- initializes the dashboard (failed).png
Due: prettier --write

cleaning intentionality issues for sonarcloud
  cypress/e2e/bar_chart.cy.js
Due: prettier --write

completely detached runCypherQuery from the application
  src/application/ApplicationThunks.ts
  src/dashboard/DashboardThunks.ts
Due: prettier --write, eslint --fix

renaming auth module to connection
  src/application/ApplicationThunks.ts
  src/application/logging/LoggingThunk.ts
  src/chart/parameter/ParameterSelectCardSettings.tsx
  src/connection/ConnectionModule.ts
  src/connection/interfaces.ts
  src/connection/neo4j/Neo4jConnectionModule.ts
  src/connection/neo4j/runCypherQuery.ts
  src/connection/neo4j/utils.ts
  src/dashboard/DashboardThunks.ts
  src/report/Report.tsx
Due: prettier --write, eslint --fix

deleted old extensions
  src/extensions/query-translator/component/OverrideCardQueryEditor.tsx
Due: prettier --write, eslint --fix

using Context objext to store current configuration
  src/application/Application.tsx
  src/application/ApplicationThunks.ts
  src/application/logging/LoggingThunk.ts
  src/chart/parameter/ParameterSelectCardSettings.tsx
  src/connection/ConnectionModule.ts
  src/connection/utils.ts
  src/dashboard/Dashboard.tsx
  src/dashboard/DashboardThunks.ts
  src/report/Report.tsx
  src/report/ReportQueryRunner.ts
Due: prettier --write, eslint --fix

cleaning code
  src/application/ApplicationThunks.ts
  src/chart/parameter/ParameterSelectCardSettings.tsx
  src/connection/ConnectionModule.ts
  src/connection/neo4j/Neo4jConnectionModule.ts
  src/connection/neo4j/runCypherQuery.ts
Due: prettier --write, eslint --fix

cleaning code
  src/connection/neo4j/Neo4jConnectionModule.ts
  src/connection/neo4j/runCypherQuery.ts
Due: prettier --write, eslint --fix

Added handling for expires_at being expired and sending through a different login workflow
  src/solutions/auth/authLib.js
  src/solutions/auth/callback.js
  src/solutions/launch/launch.js
  src/solutions/launch/launchHelper.js
Due: prettier --write

modified gitignore
  .gitignore
Due: none

Update quickstart.adoc to point to Aura console
  docs/modules/ROOT/pages/quickstart.adoc
Due: none

added new components and new logic
  src/extensions/ExtensionConfig.tsx
  src/extensions/rbac/RBACLabelButton.tsx
  src/extensions/rbac/RBACManagementLabelButton.tsx
  src/extensions/rbac/RBACManagementMenu.tsx
Due: prettier --write, eslint --fix

Added check for handling no access to view roles
  src/extensions/rbac/RBACManagementMenu.tsx
Due: prettier --write, eslint --fix

Refactored code to remove material-ui; change to .ts and .tsx; fix linting issues
  src/dashboard/sidebar/modal/DashboardSidebarExportModal.tsx
  src/extensions/hive/auth/auth.ts
  src/extensions/hive/auth/authLib.ts
  src/extensions/hive/auth/callback.tsx
  src/extensions/hive/auth/privateRoute.tsx
  src/extensions/hive/components/PublishInfo.js
  src/extensions/hive/components/SaveToHiveModal.tsx
  src/extensions/hive/components/common/Common.tsx
  src/extensions/hive/components/database/ConfigureSelfManagedDatabase.tsx
  src/extensions/hive/components/database/Dropzone.tsx
  src/extensions/hive/components/database/SelectDatabase.tsx
  src/extensions/hive/components/database/SelectExistingDatabase.js
  src/extensions/hive/components/database/UploadDatabase.tsx
  src/extensions/hive/components/genai/Chat.tsx
  src/extensions/hive/components/graphql/HiveGraphQL.ts
  src/extensions/hive/components/tabs/TabPanel.tsx
  src/extensions/hive/config/SolutionsConstants.ts
  src/extensions/hive/config/dynamicConfig.ts
  src/extensions/hive/launch/launch.ts
  src/extensions/hive/launch/launchHelper.ts
  src/extensions/hive/persistence/SolutionsThunks.ts
  src/extensions/hive/util/util.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.json)) or (any of: *.js)
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
