Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.tsx": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.js": ["prettier --write"]
}

Added sidebar prototype
  src/dashboard/Dashboard.tsx
  src/dashboard/sidebar/DashboardSidebar.tsx
Due: prettier --write, eslint --fix

Selector options
  src/chart/parameter/ParameterSelectionChart.tsx
Due: prettier --write, eslint --fix

Fixed double scroll bar
  src/dashboard/Dashboard.tsx
  src/dashboard/placeholder/DashboardPlaceholder.tsx
Due: prettier --write, eslint --fix

Tooltips nivo contrast
  src/chart/Utils.ts
Due: prettier --write, eslint --fix

Runs on non drafts
  .github/workflows/develop-deployment.yml
  .github/workflows/develop-test.yml
Due: none

Color picker selection
  src/component/field/ColorPicker.tsx
Due: prettier --write, eslint --fix

Return of the sidebar
  src/dashboard/Dashboard.tsx
  src/dashboard/header/DashboardHeader.tsx
  src/dashboard/sidebar/DashboardSidebar.tsx
Due: prettier --write, eslint --fix

Version bump and release notes
  .github/workflows/master-deployment.yml
  Dockerfile
  changelog.md
  release-notes.md
  src/modal/AboutModal.tsx
Due: prettier --write, eslint --fix

Fix on Nivo Canvas
  src/chart/Chart.ts
  src/chart/Utils.ts
  src/chart/bar/BarChart.tsx
  src/report/Report.tsx
Due: prettier --write, eslint --fix

Fixing unused import
  src/component/field/ColorPicker.tsx
Due: prettier --write, eslint --fix

Fix version 2.3.4
  .github/workflows/master-deployment.yml
Due: none

Adding a legend button for relationships and nodes
  package.json
  src/card/Card.tsx
  src/card/view/CardView.tsx
  src/chart/Chart.ts
  src/chart/graph/GraphChart.tsx
  src/chart/graph/GraphChartVisualization.ts
  src/chart/graph/component/button/GraphChartLegendButton.tsx
  src/report/Report.tsx
  src/report/ReportWrapper.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Adding a legend button for relationships and nodes
  package.json
  src/card/Card.tsx
  src/card/view/CardView.tsx
  src/chart/Chart.ts
  src/chart/graph/GraphChart.tsx
  src/chart/graph/GraphChartVisualization.ts
  src/chart/graph/component/button/GraphChartLegendButton.tsx
  src/report/Report.tsx
  src/report/ReportWrapper.tsx
Due: prettier --write, eslint --fix

Fix version 2.3.4 (#581)
  .github/workflows/master-deployment.yml
Due: none

Hotfix for outdated version config on some components
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  package.json
Due: prettier --write

Release 2.3.4 (#580)
  .github/workflows/develop-deployment.yml
  .github/workflows/develop-test.yml
  .github/workflows/master-deployment.yml
  Dockerfile
  changelog.md
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  package.json
  release-notes.md
  src/card/view/CardView.tsx
  src/chart/Chart.ts
  src/chart/Utils.ts
  src/chart/bar/BarChart.tsx
  src/chart/map/layers/MarkerLayer.tsx
  src/chart/parameter/ParameterSelectionChart.tsx
  src/component/field/ColorPicker.tsx
  src/dashboard/Dashboard.tsx
  src/dashboard/placeholder/DashboardPlaceholder.tsx
  src/modal/AboutModal.tsx
  src/report/Report.tsx
Due: prettier --write, eslint --fix

Fix axis color on non canvas
  src/chart/Utils.ts
Due: prettier --write, eslint --fix

Moving Header Text color up
  src/card/view/CardView.tsx
  src/card/view/CardViewHeader.tsx
Due: prettier --write, eslint --fix

Adjusting to default Pie Margins default https://github.com/neo4j-labs/neodash/issues/486
  docs/modules/ROOT/pages/user-guide/reports/pie-chart.adoc
  src/chart/Utils.ts
  src/chart/pie/PieChart.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Removing Orphan rels
  src/chart/graph/util/RecordUtils.ts
Due: prettier --write, eslint --fix

Add database selector to sidebar
  src/dashboard/sidebar/DashboardSidebar.tsx
Due: prettier --write, eslint --fix

Iterating on the dashboard sidebar interface
  src/dashboard/sidebar/DashboardSidebar.tsx
  src/dashboard/sidebar/DashboardSidebarCreateModal.tsx
  src/dashboard/sidebar/DashboardSidebarDashboardMenu.tsx
  src/dashboard/sidebar/DashboardSidebarDatabaseMenu.tsx
  src/dashboard/sidebar/DashboardSidebarListItem.tsx
  src/dashboard/sidebar/DashboardSidebarLoadModal.tsx
Due: prettier --write, eslint --fix

changing Dockerfile to enable args during build
  Dockerfile
Due: none

fixing typo on argument in dockerfile
  Dockerfile
Due: none

Fixed usage of hardcoded color
  src/dashboard/sidebar/DashboardSidebarListItem.tsx
Due: prettier --write, eslint --fix

Fixed reference to staged lint file
  apps/neodash-editor/package.json
Due: prettier --write

Renamed cypress config file
  apps/neodash-editor/cypress-config.ts
Due: prettier --write, eslint --fix

Removed old files
  .github/workflows/develop-test.yml
  .gitignore
  apps/neodash-editor/.nyc_output/out.json
Due: prettier --write

Move cypress config to root folder for execution
  .github/workflows/develop-test.yml
Due: none

Fixed typo
  .github/workflows/develop-test.yml
Due: none

Copying cypress file
  .github/workflows/develop-test.yml
Due: none

Housekeeping Bugs 1
  apps/neodash-editor/public/style.css
  apps/neodash-editor/src/card/settings/custom/CardSettingsContentPropertySelect.tsx
  apps/neodash-editor/src/chart/graph/GraphChart.tsx
  apps/neodash-editor/src/chart/line/LineChart.tsx
  apps/neodash-editor/src/chart/scatter/ScatterPlotChart.tsx
  apps/neodash-editor/src/extensions/advancedcharts/chart/circlepacking/CirclePackingChart.tsx
  apps/neodash-editor/src/extensions/advancedcharts/chart/sunburst/SunburstChart.tsx
  apps/neodash-editor/src/extensions/advancedcharts/chart/treemap/TreeMapChart.tsx
Due: prettier --write, eslint --fix

Rename cypress config
  apps/neodash-editor/cypress.config.ts
Due: prettier --write, eslint --fix

Fixed github action
  .github/workflows/develop-test.yml
Due: none

Fixed docker start script
  apps/neodash-editor/docker-files/docker-neo4j-initializer/start-movies-db.sh
Due: none

Housekeeping Bugs 2
  apps/neodash-editor/src/extensions/advancedcharts/chart/areamap/PolygonLayer.tsx
  apps/neodash-editor/src/extensions/advancedcharts/chart/radar/RadarChart.tsx
  apps/neodash-editor/src/extensions/advancedcharts/chart/sunburst/SunburstChart.tsx
  apps/neodash-editor/src/extensions/advancedcharts/chart/treemap/TreeMapChart.tsx
Due: prettier --write, eslint --fix

Fix invalid merge
  apps/docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  apps/docs/modules/ROOT/pages/developer-guide/styleConfiguration.adoc
  apps/neodash-editor/cypress-config.ts
Due: prettier --write, eslint --fix

Fix merge on dependency version, refactoring
  .gitignore
  apps/neodash-editor/cypress.config.ts
  apps/neodash-editor/cypress/screenshots/start_page.cy.js/NeoDash E2E Tests -- initializes the dashboard (failed).png
  apps/neodash-editor/cypress/support/commands.ts
  apps/neodash-editor/package.json
  apps/neodash-editor/src/application/Application.tsx
  apps/neodash-editor/src/chart/map/MapChart.tsx
  apps/neodash-editor/src/modal/ReportExamplesModal.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint --fix
