Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Upgrade to yarn 3.X
  .gitignore
  .yarn/releases/yarn-3.6.3.cjs
  .yarnrc.yml
  apps/neodash-docs/package.json
  apps/neodash-gallery/package.json
  package.json
  packages/neodash-engine/package.json
  yarn.lock
Due: prettier --write

Attempted local webpack config
  apps/neodash-editor/package.json
  apps/neodash-editor/webpack.local.config.js
Due: prettier --write

Implemented basic select where user can define options Signedoff - monish.nandakumaran@mercedes-benz.com
  src/card/settings/custom/CardSettingsContentPropertySelect.tsx
  src/chart/parameter/ParameterSelectionChart.tsx
  src/chart/parameter/component/ParameterSelect.ts
  src/chart/parameter/component/PredefinedOptionsSelect.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

added Q&A form for AI training
  package.json
  src/extensions/query-translator/component/OverrideCardQueryEditor.tsx
  src/extensions/query-translator/component/QuestionAnswerForm.css
  src/extensions/query-translator/component/QuestionAnswerForm.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Refactored code
  src/chart/parameter/ParameterSelectionChart.tsx
  src/chart/parameter/component/BasicSelect.tsx
Due: prettier --write, eslint --fix

Removed duplicate line during merge Signed off - monish.nandakumaran@mercedes-benz.com
  src/chart/parameter/ParameterSelectionChart.tsx
Due: prettier --write, eslint --fix

Removed duplicate component
  src/chart/parameter/component/PredefinedOptionsSelect.tsx
Due: prettier --write, eslint --fix

Merged free text and Basic select into one component
  src/chart/parameter/ParameterSelectionChart.tsx
  src/chart/parameter/component/FreeTextOrBasicSelectParameterSelect.tsx
  src/chart/parameter/component/ParameterSelect.ts
Due: prettier --write, eslint --fix

Removed duplicate code
  src/chart/parameter/component/BasicSelect.tsx
Due: prettier --write, eslint --fix

Updated styling, added validation
  src/extensions/query-translator/component/QuestionAnswerForm.css
  src/extensions/query-translator/component/QuestionAnswerForm.tsx
Due: prettier --write, eslint --fix

validation on q&a form (to talk with Marius about UX and styling)
  src/extensions/query-translator/component/OverrideCardQueryEditor.tsx
  src/extensions/query-translator/component/QuestionAnswerForm.tsx
  src/utils/ReportUtils.ts
Due: prettier --write, eslint --fix

watching smells on sonarqube
  src/extensions/query-translator/clients/ModelClient.ts
  src/extensions/query-translator/clients/const.ts
  src/extensions/query-translator/component/ClientSettings.tsx
  src/extensions/query-translator/component/OverrideCardQueryEditor.tsx
Due: prettier --write, eslint --fix

Added mercedes-benz favicon
  public/favicon.ico
Due: none

Implemented the clearParameterValueOnTabChange
  src/chart/parameter/ParameterSelectionChart.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Resolved sonar code smell
  src/chart/parameter/ParameterSelectionChart.tsx
Due: prettier --write, eslint --fix

Fix to remove warning from the browser
  src/component/groupreport/GroupReport.tsx
  src/page/Page.tsx
Due: prettier --write, eslint --fix

Update installation documentation
  README.md
Due: none

Revert "Fix to remove warning from the browser"
  src/component/groupreport/GroupReport.tsx
  src/page/Page.tsx
Due: prettier --write, eslint --fix

Rendering parameters inside the form component
  src/application/ApplicationReducer.ts
  src/extensions/ExtensionUtils.ts
  src/extensions/forms/FormsReportConfig.tsx
  src/extensions/forms/chart/NeoForm.tsx
  src/extensions/forms/settings/NeoFormCardSettings.tsx
  src/extensions/forms/settings/NeoFormCardSettingsModal.tsx
  src/report/Report.tsx
Due: prettier --write, eslint --fix

Remove unnecessary code in the Dockerfile
  docker/Dockerfile
Due: none

Remove warning from browser i group reports implementation
  src/component/groupreport/GroupReport.tsx
  src/page/Page.tsx
Due: prettier --write, eslint --fix

Documentation complete. One small issue, lack of padding at bottom of chart cuts off text on occasion
  docs/modules/ROOT/images/gauge.png
  docs/modules/ROOT/pages/user-guide/reports/gauge-chart.adoc
  docs/package-lock.json
  docs/package.json
  docs/yarn.lock
  package.json
  src/extensions/advancedcharts/AdvancedChartsReportConfig.tsx
  src/extensions/advancedcharts/chart/gauge/GaugeChart.tsx
  yarn.lock
Due: prettier --write, eslint --fix

useffect should be before return
  src/chart/parameter/ParameterSelectionChart.tsx
Due: prettier --write, eslint --fix

added configuration to allow multiple data DBs
  src/utils/parseStandaloneDatabaseList.ts
Due: prettier --write, eslint --fix

Added docs for forms. Improved stability on form
  docs/modules/ROOT/images/createform.png
  docs/modules/ROOT/images/formbutton.png
  docs/modules/ROOT/images/forms.png
  docs/modules/ROOT/images/formselector.png
  docs/modules/ROOT/images/formsimple.png
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/user-guide/extensions/forms.adoc
  docs/modules/ROOT/pages/user-guide/extensions/index.adoc
  docs/modules/ROOT/pages/user-guide/reports/form.adoc
  docs/modules/ROOT/pages/user-guide/reports/index.adoc
  src/extensions/forms/FormsReportConfig.tsx
  src/extensions/forms/chart/NeoForm.tsx
  src/page/PageSelectors.ts
  src/report/ReportRecordProcessing.tsx
Due: prettier --write, eslint --fix

Fixed warnings in console
  src/extensions/forms/settings/NeoFormCardSettings.tsx
Due: prettier --write, eslint --fix

Question Answer form updated with tailwind and needle styling
  gallery/tailwind.config.js
  package.json
  src/extensions/query-translator/component/OverrideCardQueryEditor.tsx
  src/extensions/query-translator/component/QuestionAnswerForm.css
  src/extensions/query-translator/component/QuestionAnswerForm.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Added window.location.pathname instead of hardcoding subpath
  src/application/ApplicationThunks.ts
Due: prettier --write, eslint --fix

Removed hardcoded subpath Signed off: monish.nandakumaran@mercedes-benz.com
  src/application/ApplicationThunks.ts
Due: prettier --write, eslint --fix

Finished IT test for forms report
  cypress/e2e/start_page.cy.js
  cypress/fixtures/cypher_queries.js
  src/extensions/forms/chart/NeoForm.tsx
  src/extensions/forms/settings/NeoFormCardSettings.tsx
Due: prettier --write, eslint --fix

added configuration to allow multiple data DBs
  docs/modules/ROOT/pages/developer-guide/configuration.adoc
  docs/modules/ROOT/pages/developer-guide/standalone-mode.adoc
  docs/modules/ROOT/pages/developer-guide/state-management.adoc
  public/config.json
  scripts/config-entrypoint.sh
  src/application/ApplicationActions.ts
  src/application/ApplicationReducer.ts
  src/application/ApplicationSelectors.ts
  src/application/ApplicationThunks.ts
  src/dashboard/header/DashboardHeader.tsx
  src/dashboard/header/DashboardHeaderLogoutButton.tsx
  src/modal/ConnectionModal.tsx
Due: prettier --write, eslint --fix

fix on config-entrypoint and reorder parameters
  public/config.json
  scripts/config-entrypoint.sh
Due: prettier --write

Finalized v1 of the new multi-dashboard UI
  src/dashboard/DashboardThunks.ts
  src/dashboard/header/DashboardTitle.tsx
  src/dashboard/sidebar/DashboardSidebar.tsx
  src/dashboard/sidebar/DashboardSidebarListItem.tsx
  src/dashboard/sidebar/modal/DashboardSidebarInfoModal.tsx
  src/modal/ExportModal.tsx
Due: prettier --write, eslint --fix

WIP creating edit Q&A modal
  src/extensions/query-translator/component/QueryTranslatorSettingsModal.tsx
Due: prettier --write, eslint --fix

Updating webpack config, preparing for hot-reload
  apps/neodash-editor/package.json
  apps/neodash-editor/webpack.config.js
  apps/neodash-editor/webpack.local.config.js
  babel.config.js
  webpack.config.js
Due: prettier --write

webpack local tweaks
  apps/neodash-editor/webpack.config.js
  apps/neodash-editor/webpack.local.config.js
Due: prettier --write

fix babel config for webpack local
  apps/neodash-editor/webpack.local.config.js
  babel.config.js
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.json)) or (any of: *.js)
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
