Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.tsx": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.js": ["prettier --write"]
}

Bump @neo4j-cypher/react-codemirror to pre 18 (#309)
  package.json
  yarn.lock
Due: prettier --write

Added safe boolean checking for compaction setting
  src/chart/table/TableChart.tsx
Due: prettier --write, eslint --fix

Changed choropleth polymap source to neodash repository
  src/extensions/advancedcharts/chart/choropleth/ChoroplethMapChart.tsx
Due: prettier --write, eslint --fix

condensed display for tables #167 (#278)
  docs/modules/ROOT/pages/user-guide/reports/table.adoc
  src/chart/table/TableChart.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Fix typo
  src/chart/Chart.ts
Due: prettier --write, eslint --fix

update editor for minification bugfix (constructor.name)
  package.json
  yarn.lock
Due: prettier --write

Added error boundary for reports
  package.json
  src/card/view/CardView.tsx
  src/report/ReportWrapper.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Minor correction in README
  README.md
Due: none

More small changes to the README
  README.md
Due: none

update editor for minification bugfix (constructor.name) (#311)
  package.json
  yarn.lock
Due: prettier --write

Fixed doc page title
  docs/antora.yml
  docs/preview.yml
Due: none

Added instructions on deploying a buildt to a webserver
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
Due: none

Generalized hardcoded settings
  .github/workflows/develop-deployment.yml
  src/application/ApplicationReducer.ts
  src/application/ApplicationThunks.ts
  src/config/ApplicationConfig.ts
  src/dashboard/DashboardReducer.ts
  src/dashboard/DashboardStyle.ts
  src/dashboard/header/DashboardHeaderTitleBar.tsx
  src/dashboard/placeholder/DashboardPlaceholder.tsx
Due: prettier --write, eslint --fix

Generalized placeholder branding
  src/config/ApplicationConfig.ts
  src/dashboard/placeholder/DashboardPlaceholder.tsx
Due: prettier --write, eslint --fix

Customizable connection modal footer
  src/config/ApplicationConfig.ts
  src/modal/ConnectionModal.tsx
Due: prettier --write, eslint --fix

Added optional check for welcome modal
  cypress/integration/start_page.spec.js
Due: prettier --write

Removing old IconButton from Dashboard Placeholder
  src/dashboard/placeholder/DashboardPlaceholder.tsx
Due: prettier --write, eslint --fix

Isoa3, a2 and n3 support (#284)
  docs/modules/ROOT/pages/user-guide/reports/choropleth.adoc
  src/config/ReportConfig.tsx
  src/extensions/advancedcharts/AdvancedChartsReportConfig.tsx
  src/extensions/advancedcharts/chart/choropleth/ChoroplethMapChart.tsx
Due: prettier --write, eslint --fix

Added release notes, bumped version number
  .github/workflows/master-deployment.yml
  Dockerfile
  changelog.md
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  package.json
  release-notes.md
  src/modal/AboutModal.tsx
  src/modal/ConnectionModal.tsx
  src/modal/ShareModal.tsx
Due: prettier --write, eslint --fix

Added error boundary for reports (#313)
  .github/workflows/master-deployment.yml
  Dockerfile
  README.md
  changelog.md
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  docs/yarn.lock
  package.json
  release-notes.md
  src/card/view/CardView.tsx
  src/extensions/advancedcharts/chart/choropleth/ChoroplethMapChart.tsx
  src/modal/AboutModal.tsx
  src/modal/ConnectionModal.tsx
  src/modal/ShareModal.tsx
  src/report/ReportWrapper.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Continued refactoring of parameter selector component
  src/chart/parameter/ParameterSelectionChart.tsx
  src/chart/parameter/component/FreeTextParameterSelect.tsx
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
  src/chart/parameter/component/ParameterSelect.ts
  src/chart/parameter/component/RelationshipPropertyParameterSelect.tsx
Due: prettier --write, eslint --fix

Finished refactoring of parameters. Also fixed the weird bug where values were set incorrectly
  src/chart/Chart.ts
  src/chart/parameter/component/FreeTextParameterSelect.tsx
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
  src/chart/parameter/component/ParameterSelect.ts
Due: prettier --write, eslint --fix

updated release notes
  changelog.md
  release-notes.md
Due: none

FIx on Parameter selec
  src/card/settings/custom/CardSettingsContentPropertySelect.tsx
  src/chart/parameter/ParameterSelectionChart.tsx
Due: prettier --write, eslint --fix

StyleWithParams
  src/card/view/CardView.tsx
  src/chart/bar/BarChart.tsx
  src/chart/graph/GraphChart.tsx
  src/chart/line/LineChart.tsx
  src/chart/map/MapChart.tsx
  src/chart/pie/PieChart.tsx
  src/chart/table/TableChart.tsx
  src/extensions/advancedcharts/chart/radar/RadarChart.tsx
  src/extensions/advancedcharts/chart/sankey/SankeyChart.tsx
  src/extensions/styling/StyleRuleEvaluator.ts
Due: prettier --write, eslint --fix

Page changes on graph and table
  src/card/settings/CardSettingsFooter.tsx
  src/chart/Chart.ts
  src/chart/graph/GraphChart.tsx
  src/chart/table/TableChart.tsx
  src/dashboard/DashboardSelectors.ts
  src/extensions/actions/ActionsRuleCreationModal.tsx
  src/extensions/advancedcharts/Utils.ts
  src/report/Report.tsx
Due: prettier --write, eslint --fix

eslint
  src/extensions/actions/ActionsRuleCreationModal.tsx
  src/extensions/advancedcharts/Utils.ts
Due: prettier --write, eslint --fix

eslint2
  src/chart/Chart.ts
  src/extensions/actions/ActionsRuleCreationModal.tsx
Due: prettier --write, eslint --fix

eslint3
  src/dashboard/DashboardSelectors.ts
  src/extensions/actions/ActionsRuleCreationModal.tsx
  src/extensions/advancedcharts/Utils.ts
Due: prettier --write, eslint --fix

Minor style fixes
  src/card/settings/custom/CardSettingsContentPropertySelect.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Parameter Selector Display option (#274)
  cypress/integration/start_page.spec.js
  src/card/settings/custom/CardSettingsContentPropertySelect.tsx
  src/chart/parameter/ParameterSelectionChart.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Refactoring based on the new parameter display values
  src/card/settings/custom/CardSettingsContentPropertySelect.tsx
  src/chart/parameter/ParameterSelectionChart.tsx
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
  src/chart/parameter/component/ParameterSelect.ts
  src/chart/parameter/component/RelationshipPropertyParameterSelect.tsx
Due: prettier --write, eslint --fix

Finished refactor and merging of parameter display setting
  src/chart/parameter/ParameterSelectionChart.tsx
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
Due: prettier --write, eslint --fix

Updated release notes again
  changelog.md
  release-notes.md
Due: none

changed structure of the MapChart, by isolating each layer in a different file
  src/chart/map/layers/heatmap.tsx
  src/chart/map/layers/lines.tsx
  src/chart/map/layers/markers.tsx
Due: prettier --write, eslint --fix

Stability fixes for rule-based styling on parameters
  src/card/view/CardView.tsx
  src/chart/bar/BarChart.tsx
  src/chart/graph/GraphChart.tsx
  src/chart/table/TableChart.tsx
  src/extensions/styling/StyleRuleEvaluator.ts
Due: prettier --write, eslint --fix

Fix for rule-based styling in graph charts
  src/chart/graph/GraphChart.tsx
Due: prettier --write, eslint --fix

Feature/style with parameters (#330)
  src/card/view/CardView.tsx
  src/chart/bar/BarChart.tsx
  src/chart/graph/GraphChart.tsx
  src/chart/line/LineChart.tsx
  src/chart/map/MapChart.tsx
  src/chart/pie/PieChart.tsx
  src/chart/table/TableChart.tsx
  src/extensions/advancedcharts/chart/radar/RadarChart.tsx
  src/extensions/advancedcharts/chart/sankey/SankeyChart.tsx
  src/extensions/styling/StyleRuleEvaluator.ts
Due: prettier --write, eslint --fix
