Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Removed alerts extension
  src/dashboard/DashboardReducer.ts
  src/dashboard/DashboardSelectors.ts
  src/dashboard/drawer/DashboardDrawer.tsx
  src/extensions/ExtensionConfig.ts
  src/extensions/ExtensionsReducer.ts
  src/extensions/ExtensionsSelectors.ts
  src/extensions/alert/AlertDrawer.tsx
  src/extensions/alert/AlertDrawerHeader.tsx
  src/extensions/alert/NeoAlertDrawerButton.tsx
  src/extensions/alert/listElement/AlertNodeCard.tsx
  src/extensions/alert/listElement/AlertNodeInspectionModal.tsx
  src/extensions/alert/settings/AlertSettingsModal.tsx
  src/extensions/alert/settings/ExtensionSettingsForm.tsx
Due: prettier --write, eslint --fix

Restore original GH actions
  .github/workflows/develop-deployment.yml
  .github/workflows/master-deployment.yml
  .github/workflows/master-test.yml
Due: none

Restore original GH actions
  .github/workflows/develop-deployment.yml
  .github/workflows/develop-test.yml
  .github/workflows/master-deployment.yml
  .github/workflows/master-test.yml
Due: none

Restore original files
  Dockerfile
  README.md
  package.json
  src/modal/AboutModal.tsx
Due: prettier --write, eslint --fix

now a failed uery will stop the workflow execution
  src/extensions/workflows/NeoWorkflowRunnerModal.tsx
  src/extensions/workflows/WorkflowSteps.ts
  src/extensions/workflows/util/WorkflowRunner.ts
Due: prettier --write, eslint --fix

Removed branding
  public/logo-small.png
  public/logo.png
Due: none

Revert branding
  src/config/ApplicationConfig.ts
Due: prettier --write, eslint --fix

Remove alerts
  src/application/ApplicationThunks.ts
  src/extensions/ExtensionsModal.tsx
Due: prettier --write, eslint --fix

More cleanup
  src/dashboard/DashboardReducer.ts
  src/dashboard/drawer/Drawer.tsx
Due: prettier --write, eslint --fix

Cleanup
  src/application/ApplicationThunks.ts
  src/dashboard/DashboardReducer.ts
  src/extensions/ExtensionsActions.ts
  src/extensions/ExtensionsModal.tsx
  src/extensions/ExtensionsReducer.ts
Due: prettier --write, eslint --fix

Cleanup
  src/extensions/ExtensionsConfig.ts
  src/extensions/ExtensionsSelectors.ts
Due: prettier --write, eslint --fix

chenged stupid names in workflows and added some comments
  src/extensions/workflows/NeoWorkflowDrawerButton.tsx
  src/extensions/workflows/WorkflowSteps.ts
Due: prettier --write, eslint --fix

Added SSO login for editor mode
  public/config.json
  src/application/Application.tsx
  src/application/ApplicationThunks.ts
  src/component/sso/SSOLoginButton.tsx
  src/modal/ConnectionModal.tsx
Due: prettier --write, eslint --fix

wip: needle integration
  package.json
  postcss.config.js
  src/application/Application.tsx
  src/index.pcss
  src/index.tsx
  src/modal/AboutModal.tsx
  src/modal/ConnectionModal.tsx
  tailwind.config.js
  webpack.config.js
  yarn.lock
Due: prettier --write, eslint --fix

Cleanup
  public/config.json
  src/component/sso/SSOLoginButton.tsx
Due: prettier --write, eslint --fix

fix: hmr with webpack
  src/application/Application.tsx
Due: prettier --write, eslint --fix

WIP on turbo config
  README.md
  apps/gallery/package.json
  apps/gallery/tsconfig.json
  apps/gallery/webpack.config.js
  apps/neodash-editor/package.json
  tsconfig.json
  turbo.json
Due: prettier --write

Removed unused styled-components
  apps/neodash-editor/src/card/CardStyle.ts
  apps/neodash-editor/src/card/settings/CardSettings.tsx
  apps/neodash-editor/src/card/view/CardView.tsx
Due: prettier --write, eslint --fix

feat: integrate tailwind with needle preset
  src/card/settings/CardSettingsHeader.tsx
  src/card/view/CardViewHeader.tsx
  src/dashboard/header/DashboardHeaderPageAddButton.tsx
  src/dashboard/header/DashboardHeaderPageButton.tsx
  src/extensions/ExtensionsModal.tsx
  src/index.pcss
  src/modal/AboutModal.tsx
  src/modal/ConnectionModal.tsx
  src/modal/LoadModal.tsx
  src/settings/SettingsModal.tsx
Due: prettier --write, eslint --fix

chore: tidy hmr work
  package.json
  webpack.config.js
  yarn.lock
Due: prettier --write

fixing strange behavior on field selection in areaMap
  src/chart/map/AreaMapChart.tsx
Due: prettier --write, eslint --fix

restored choropleth map
  src/extensions/advancedcharts/AdvancedChartsExampleConfig.ts
  src/extensions/advancedcharts/AdvancedChartsReportConfig.tsx
  src/extensions/advancedcharts/chart/choropleth/ChoroplethMapChart.tsx
Due: prettier --write, eslint --fix

adding missing parts to areaMap
  src/chart/map/AreaMapChart.tsx
  src/chart/map/layers/PolygonLayer.tsx
Due: prettier --write, eslint --fix

added example, to write correct query
  src/config/ExampleConfig.ts
Due: prettier --write, eslint --fix

Added option in AreaMap Config to hide legend and the reset view button won't be available if the drillDown isn't enabled
  src/chart/graph/GraphChartVisualization2D.tsx
  src/chart/map/layers/PolygonLayer.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Update classes ; fix Dropdowns
  src/card/CardAddButton.tsx
  src/card/settings/CardSettingsFooter.tsx
  src/card/settings/custom/CardSettingsContentPropertySelect.tsx
  src/card/view/CardViewFooter.tsx
  src/card/view/CardViewHeader.tsx
  src/chart/map/MapChart.tsx
  src/chart/table/TableChart.tsx
  src/component/sso/SSOLoginButton.tsx
  src/config/ReportConfig.tsx
  src/dashboard/header/DashboardHeaderTitleBar.tsx
  src/extensions/styling/StyleRuleCreationModal.tsx
  src/index.pcss
  src/modal/AboutModal.tsx
  src/modal/ConnectionModal.tsx
  src/modal/DeletePageModal.tsx
  src/modal/LoadModal.tsx
  src/modal/LoadSharedDashboardModal.tsx
  src/modal/NotificationModal.tsx
  src/modal/ReportExamplesModal.tsx
  src/modal/SaveModal.tsx
  src/modal/ShareModal.tsx
  src/modal/UpgradeOldDashboardModal.tsx
  src/modal/WelcomeScreenModal.tsx
  src/report/Report.tsx
  src/settings/SettingsModal.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Added docstrings
  src/chart/graph/GraphChartVisualization2D.tsx
  src/chart/table/TableChart.tsx
  src/extensions/advancedcharts/Utils.ts
Due: prettier --write, eslint --fix

moved areamap to extension/advancedcharts
  src/config/ExampleConfig.ts
  src/config/ReportConfig.tsx
  src/extensions/advancedcharts/AdvancedChartsExampleConfig.ts
  src/extensions/advancedcharts/AdvancedChartsReportConfig.tsx
  src/extensions/advancedcharts/chart/areamap/AreaMapChart.tsx
  src/extensions/advancedcharts/chart/areamap/PolygonLayer.tsx
  src/extensions/advancedcharts/chart/areamap/styles/PolygonStyle.css
Due: prettier --write, eslint --fix

Improve modals ; misc improvements
  package.json
  public/style.css
  src/card/settings/CardSettings.tsx
  src/card/settings/CardSettingsFooter.tsx
  src/component/editor/CodeEditorComponent.tsx
  src/extensions/ExtensionsModal.tsx
  src/index.pcss
  src/modal/AboutModal.tsx
  src/modal/ModalUtils.tsx
  src/modal/ReportExamplesModal.tsx
  src/modal/SaveModal.tsx
  yarn.lock
Due: prettier --write, eslint --fix

added example for areaMAp and restored choropleth in docs
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/user-guide/reports/choropleth.adoc
  src/chart/ChartUtils.ts
  src/extensions/advancedcharts/AdvancedChartsExampleConfig.ts
  src/extensions/advancedcharts/AdvancedChartsReportConfig.tsx
  src/extensions/advancedcharts/chart/areamap/AreaMapChart.tsx
Due: prettier --write, eslint --fix

bootstrapping areaMap docs and added config settings to enable three letter country cod es in areaMap
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/user-guide/reports/areamap.adoc
  src/extensions/advancedcharts/AdvancedChartsReportConfig.tsx
  src/extensions/advancedcharts/chart/areamap/AreaMapChart.tsx
  src/extensions/advancedcharts/chart/areamap/styles/constants.ts
Due: prettier --write, eslint --fix

Added public/private for publish
  src/modal/SaveToHiveModel.tsx
  src/solutions/components/PublishInfo.js
  src/solutions/components/SaveToHiveModal.tsx
  src/solutions/components/graphql/HiveGraphQL.js
  src/solutions/config/SolutionsConstants.js
  src/solutions/persistence/SolutionsThunks.ts
Due: prettier --write, eslint --fix

Updated upload message that only Neo4j 5 is supported
  src/solutions/components/database/SelectDatabase.js
Due: prettier --write

Fix title bar gutter width
  src/dashboard/header/DashboardHeaderPageList.tsx
Due: prettier --write, eslint --fix

Add tooltips to sidebar ; fix tabs bar position
  src/dashboard/drawer/DashboardDrawer.tsx
  src/dashboard/header/DashboardHeaderPageList.tsx
  src/dashboard/header/DashboardHeaderTitleBar.tsx
  src/extensions/ExtensionsModal.tsx
  src/modal/LoadModal.tsx
  src/modal/ReportExamplesModal.tsx
  src/modal/SaveModal.tsx
  src/modal/ShareModal.tsx
  src/settings/SettingsModal.tsx
Due: prettier --write, eslint --fix

Revert sample dashboard
  gallery/dashboards/wine.json
Due: prettier --write

Fix incorrect merge
  docs/modules/ROOT/pages/user-guide/reports/index.adoc
  src/chart/map/MapChart.tsx
Due: prettier --write, eslint --fix

Added docs on graph exploration/editing
  docs/modules/ROOT/pages/user-guide/reports/graph.adoc
Due: none

added documentation for areaMap, to add image. Changed name fo setting in areaMap to make it more understandable
  docs/modules/ROOT/pages/user-guide/reports/areamap.adoc
  src/extensions/advancedcharts/AdvancedChartsReportConfig.tsx
  src/extensions/advancedcharts/chart/areamap/AreaMapChart.tsx
  src/extensions/advancedcharts/chart/areamap/PolygonLayer.tsx
  src/extensions/advancedcharts/chart/areamap/constants.ts
Due: prettier --write, eslint --fix

Fix color picker
  public/style.css
  src/extensions/styling/StyleRuleCreationModal.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.json)) or (any of: *.js)
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
