Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.tsx": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.js": ["prettier --write"]
}

Final changes to documentation and release notes
  changelog.md
  docs/modules/ROOT/pages/user-guide/reports/markdown.adoc
  release-notes.md
Due: none

installed show-more-text library to manage text too long
  package.json
  src/chart/graph/component/GraphEntityInspectionTable.tsx
  src/extensions/alert/listElement/AlertNodeInspectionModal.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Removed log statement
  src/chart/json/JSONChart.tsx
Due: prettier --write, eslint --fix

Fixed version number
  package.json
Due: prettier --write

Fix color chips
  src/chart/graph/util/RecordUtils.ts
Due: prettier --write, eslint --fix

Added capture handling for right clicks
  src/application/Application.tsx
Due: prettier --write, eslint --fix

Fix context menu in browser
  src/application/Application.tsx
Due: prettier --write, eslint --fix

Results in workflow runner view
  src/chart/table/TableChart.tsx
  src/extensions/ExtensionConfig.tsx
  src/extensions/alert/NeoAlertDrawerButton.tsx
  src/extensions/workflows/WorkflowDrawerButton.tsx
  src/extensions/workflows/WorkflowListModal.tsx
  src/extensions/workflows/WorkflowRunnerModal.tsx
  src/extensions/workflows/WorkflowRunnerStepDetails.tsx
  src/extensions/workflows/WorkflowStepSelectionModal.tsx
  src/extensions/workflows/WorkflowSteps.ts
  src/extensions/workflows/util/WorkflowRunner.ts
Due: prettier --write, eslint --fix

bootstrapping drill down button
  src/dashboard/DashboardSelectors.ts
  src/extensions/alert/AlertConfig.ts
  src/extensions/alert/listElement/AlertNodeInspectionModal.tsx
  src/extensions/alert/listElement/DrillDownModal.tsx
  src/extensions/alert/settings/ExtensionSettingsForm.tsx
Due: prettier --write, eslint --fix

Fix on replace rules
  src/chart/ChartUtils.ts
Due: prettier --write, eslint --fix

added drill down for node sidebar
  src/chart/graph/component/GraphEntityInspectionTable.tsx
  src/extensions/alert/AlertDrawerHeader.tsx
  src/extensions/alert/listElement/AlertNodeInspectionModal.tsx
  src/extensions/alert/stateManagement/AlertSelectors.ts
Due: prettier --write, eslint --fix

Forcing value to 1 on SANKEY_UNWEIGHTED
  docs/modules/ROOT/pages/user-guide/reports/sankey.adoc
  src/extensions/advancedcharts/chart/sankey/SankeyChart.tsx
Due: prettier --write, eslint --fix

added comments and removed unused file in node-sidebar
  src/extensions/alert/listElement/AlertNodeInspectionModal.tsx
  src/extensions/alert/listElement/DrillDownModal.tsx
Due: prettier --write, eslint --fix

added scatteplot first draft and some small refactorings for code quality in line chart
  src/chart/scatter/ScatterPlotChart.tsx
  src/config/ReportConfig.tsx
  src/extensions/alert/listElement/DrillDownModal.tsx
Due: prettier --write, eslint --fix

Standardize babel config
  apps/neodash-editor/.babelrc
  apps/neodash-editor/package.json
  apps/neodash-editor/src/index.tsx
  babel.config.json
  packages/aleks-ui/Button.tsx
  packages/aleks-ui/index.tsx
  packages/aleks-ui/package.json
  packages/aleks-ui/webpack.config.js
Due: prettier --write, eslint --fix

Pushed new folder structure
  apps/gallery/.babelrc
  apps/gallery/webpack.config.js
  apps/neodash-editor/package.json
  apps/neodash-editor/src/index.tsx
  packages/neodash-core/Button.tsx
  packages/neodash-core/index.tsx
  packages/neodash-core/package.json
  packages/neodash-core/webpack.config.js
  packages/tsconfig/base.json
  packages/tsconfig/package.json
  packages/tsconfig/react-library.json
  tsconfig.json
Due: prettier --write, eslint --fix

Header color on dark background
  src/application/Application.tsx
  src/card/view/CardView.tsx
  src/component/theme/Themes.tsx
Due: prettier --write, eslint --fix

working on scatterploy
  package.json
  src/chart/scatter/ScatterPlotChart.tsx
  src/config/ReportConfig.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Added styling for results
  src/extensions/workflows/WorkflowRunnerStepDetails.tsx
Due: prettier --write, eslint --fix

added state Management to scatterplot, keeping two versions to enable discussion
  src/chart/scatter/backupTest.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Aria label warnings and other errors
  public/style.css
  src/card/Card.tsx
  src/card/settings/CardSettingsHeader.tsx
  src/card/view/CardView.tsx
  src/card/view/CardViewHeader.tsx
  src/chart/graph/GraphChart.tsx
  src/chart/graph/component/GraphChartInspectModal.tsx
  src/chart/markdown/MarkdownChart.tsx
  src/chart/table/TableChart.tsx
  src/component/field/ColorPicker.tsx
  src/component/sso/SSOLoginButton.tsx
  src/dashboard/Dashboard.tsx
  src/dashboard/drawer/DashboardDrawer.tsx
  src/dashboard/header/DashboardHeaderPageAddButton.tsx
  src/dashboard/header/DashboardHeaderPageButton.tsx
  src/dashboard/header/DashboardHeaderTitleBar.tsx
  src/extensions/styling/StyleRuleCreationModal.tsx
  src/modal/ConnectionModal.tsx
  src/modal/SaveModal.tsx
  src/page/Page.tsx
  src/report/Report.tsx
Due: prettier --write, eslint --fix

Changed overflow to auto to show scrollbars only when needed
  src/chart/table/TableChart.tsx
Due: prettier --write, eslint --fix

Fix right click in desktop capture (#415)
  src/application/Application.tsx
  src/chart/graph/util/RecordUtils.ts
Due: prettier --write, eslint --fix

Fixed default setting
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Forcing value to 1 on SANKEY_UNWEIGHTED (#419)
  docs/modules/ROOT/pages/user-guide/reports/sankey.adoc
  src/extensions/advancedcharts/chart/sankey/SankeyChart.tsx
Due: prettier --write, eslint --fix

Added release notes for 2.2.5
  .github/workflows/master-deployment.yml
  Dockerfile
  changelog.md
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  package.json
  release-notes.md
  src/modal/AboutModal.tsx
Due: prettier --write, eslint --fix

Fix on replace rules (#417)
  src/chart/ChartUtils.ts
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Luma threshold as dashboard settings
  src/card/view/CardView.tsx
  src/config/DashboardConfig.ts
Due: prettier --write, eslint --fix

Update release-notes.md
  release-notes.md
Due: none

Added release notes for 2.2.5 (#421)
  .github/workflows/master-deployment.yml
  Dockerfile
  changelog.md
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  package.json
  release-notes.md
  src/modal/AboutModal.tsx
Due: prettier --write, eslint --fix

Fixed gallery build script (temporary)
  gallery/package.json
  gallery/yarn.lock
Due: prettier --write

Revisited 2.2.5 release notes and fixed gallery deployment (#422)
  gallery/package.json
  gallery/yarn.lock
Due: prettier --write

bump version
  .github/workflows/master-deployment.yml
  Dockerfile
  package.json
  src/modal/AboutModal.tsx
Due: prettier --write, eslint --fix

Merge
  .github/workflows/master-deployment.yml
Due: none

style fix underline
  public/style.css
Due: none

Header color on dark background (#420)
  public/style.css
  src/application/Application.tsx
  src/card/view/CardView.tsx
  src/component/theme/Themes.tsx
  src/config/DashboardConfig.ts
Due: prettier --write, eslint --fix

Update changelog.md
  changelog.md
Due: none

to fix legend and add compatibility with datetime for intensity
  src/chart/scatter/ScatterPlotChart.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix
