Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.tsx": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.js": ["prettier --write"]
}

Browser tab titles (#708)
  src/dashboard/header/DashboardTitle.tsx
Due: prettier --write, eslint --fix

Fixed linting. Added dark mode fix for graphs (#743)
  src/chart/graph/GraphChart.tsx
  src/dashboard/header/DashboardHeaderPageTitle.tsx
  src/dashboard/header/DashboardTitle.tsx
Due: prettier --write, eslint --fix

init
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

Actions/rule-based styling for 3d graph
  src/extensions/actions/ActionsRuleCreationModal.tsx
  src/extensions/styling/StyleRuleCreationModal.tsx
  src/report/Report.tsx
Due: prettier --write, eslint --fix

Adding in 3D graph visualization as an advanced visualization (#737)
  docs/modules/ROOT/images/graph3d.png
  docs/modules/ROOT/images/graph3dvirtual.png
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/user-guide/extensions/advanced-visualizations.adoc
  docs/modules/ROOT/pages/user-guide/reports/graph3d.adoc
  docs/modules/ROOT/pages/user-guide/reports/index.adoc
  package.json
  src/chart/graph/GraphChart.tsx
  src/chart/graph/GraphChartVisualization.ts
  src/chart/graph/GraphChartVisualization2D.tsx
  src/chart/graph/GraphChartVisualizationBase.tsx
  src/chart/graph/component/button/GraphChartFitViewButton.tsx
  src/config/ReportConfig.tsx
  src/dashboard/header/DashboardHeaderPageTitle.tsx
  src/dashboard/header/DashboardTitle.tsx
  src/extensions/actions/ActionsRuleCreationModal.tsx
  src/extensions/advancedcharts/AdvancedChartsExampleConfig.ts
  src/extensions/advancedcharts/AdvancedChartsReportConfig.tsx
  src/extensions/advancedcharts/chart/graph3d/GraphChart3D.tsx
  src/extensions/advancedcharts/chart/graph3d/GraphChartVisualization3D.tsx
  src/extensions/styling/StyleRuleCreationModal.tsx
  src/report/Report.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Stability and UX for table checkbox actiosn
  src/chart/table/TableChart.tsx
Due: prettier --write, eslint --fix

Ordering dashboard list by name rather than edit date
  src/dashboard/DashboardThunks.ts
Due: prettier --write, eslint --fix

Improved handling of draft dashboards in the sidebar, allowing to distinguish between save/overwrite (#734)
  src/dashboard/DashboardThunks.ts
  src/dashboard/sidebar/DashboardSidebar.tsx
  src/dashboard/sidebar/DashboardSidebarListItem.tsx
  src/dashboard/sidebar/menu/DashboardSidebarDashboardMenu.tsx
  src/dashboard/sidebar/modal/DashboardSidebarLoadModal.tsx
  src/dashboard/sidebar/modal/DashboardSidebarSaveModal.tsx
  src/report/ReportQueryRunner.ts
Due: prettier --write, eslint --fix

Handling shared dashboards in standalone mode
  src/application/ApplicationThunks.ts
  src/dashboard/DashboardThunks.ts
Due: prettier --write, eslint --fix

Sorting returned auto selector values
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
Due: prettier --write, eslint --fix

Selecting the first value of the suggestions correctly
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
Due: prettier --write, eslint --fix

Added parameter select setting for autopopulating first selector value (#746)
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Added hidden setting for hiding the plaintext password warning. Fixed issue with casting null dates
  src/application/ApplicationActions.ts
  src/application/ApplicationReducer.ts
  src/application/ApplicationSelectors.ts
  src/application/ApplicationThunks.ts
  src/chart/ChartUtils.ts
  src/dashboard/Dashboard.tsx
Due: prettier --write, eslint --fix

Style tweaks for reports without footers
  public/style.css
  src/card/settings/CardSettings.tsx
  src/card/view/CardView.tsx
  src/chart/graph/component/GraphChartCanvas.tsx
Due: prettier --write, eslint --fix

Fixed styling defaults for bar chart
  src/chart/bar/BarChart.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Add timing of statistics
  run.sh
  statistics/minio_config.ini
  statistics/statistics.py
Due: none

Finalized release notes
  changelog.md
  release-notes.md
Due: none

Fixed fullscreen views
  src/card/Card.tsx
Due: prettier --write, eslint --fix

2.4.2 Release Notes (#745)
  .github/workflows/master-deployment.yml
  Dockerfile
  changelog.md
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  package.json
  release-notes.md
  src/modal/AboutModal.tsx
Due: prettier --write, eslint --fix

Freetext parameter with manual save style fixes
  src/chart/parameter/component/FreeTextParameterSelect.tsx
Due: prettier --write, eslint --fix

clean up graph editing modal
  src/chart/graph/component/GraphChartEditModal.tsx
Due: prettier --write, eslint --fix

Correction to release notes
  changelog.md
  release-notes.md
Due: none

the access feature is almost done, now you can add labels to the db on a specific dashboard Node and remove them, still small thing left to fix
  src/dashboard/sidebar/DashboardSidebar.tsx
  src/dashboard/sidebar/modal/DashboardSidebarAccessModal.tsx
Due: prettier --write, eslint --fix

Robustness of actions rule create modal
  src/extensions/actions/ActionsRuleCreationModal.tsx
Due: prettier --write, eslint --fix

Improved comments
  src/extensions/actions/ActionsRuleCreationModal.tsx
Due: prettier --write, eslint --fix

Collection of bug fixes for the 2.4.2 release (#744)
  changelog.md
  public/style.css
  release-notes.md
  src/application/ApplicationActions.ts
  src/application/ApplicationReducer.ts
  src/application/ApplicationSelectors.ts
  src/application/ApplicationThunks.ts
  src/card/Card.tsx
  src/card/settings/CardSettings.tsx
  src/card/view/CardView.tsx
  src/chart/ChartUtils.ts
  src/chart/bar/BarChart.tsx
  src/chart/graph/component/GraphChartCanvas.tsx
  src/chart/graph/component/GraphChartEditModal.tsx
  src/chart/markdown/MarkdownChart.tsx
  src/chart/parameter/component/FreeTextParameterSelect.tsx
  src/chart/table/TableChart.tsx
  src/config/ReportConfig.tsx
  src/dashboard/Dashboard.tsx
  src/dashboard/DashboardThunks.ts
  src/dashboard/sidebar/DashboardSidebarListItem.tsx
  src/extensions/actions/ActionsRuleCreationModal.tsx
  src/report/ReportRecordProcessing.tsx
  src/settings/SettingsModal.tsx
Due: prettier --write, eslint --fix

Hotfix for typo in release notes
  changelog.md
Due: none

Final docs for 2.4.2 release
  docs/modules/ROOT/pages/user-guide/reports/graph3d.adoc
  src/extensions/actions/ActionsRuleCreationModal.tsx
Due: prettier --write, eslint --fix

Update docker-neo4j.sh
  scripts/docker-neo4j-initializer/docker-neo4j.sh
Due: none

added logic to showcase correct labels from the db for each dashboard + new design for the chips and add button
  src/dashboard/sidebar/modal/DashboardSidebarAccessModal.tsx
Due: prettier --write, eslint --fix

quick design update + code refactor
  src/dashboard/sidebar/modal/DashboardSidebarAccessModal.tsx
Due: prettier --write, eslint --fix

changing from APOC to full cypher with string interpolation to prevent compatibility problem
  src/dashboard/sidebar/modal/DashboardSidebarAccessModal.tsx
Due: prettier --write, eslint --fix

Added color-picker, selector description and full screen tests
  cypress/e2e/bar_chart.cy.js
  cypress/e2e/table.cy.js
  cypress/screenshots/Testing table -- Checking Selector Description (1).png
  cypress/screenshots/Testing table -- Checking Selector Description.png
  cypress/support/commands.js
  src/card/settings/CardSettingsContent.tsx
  src/card/view/CardViewHeader.tsx
  src/chart/graph/component/GraphChartCanvas.tsx
Due: prettier --write, eslint --fix

added logic for handling issues with cleaning the state of the TextInput & creating a new label with same capital letter as existing labels. Also, added doc
  docs/modules/ROOT/pages/user-guide/access-control.adoc
  src/dashboard/sidebar/modal/DashboardSidebarAccessModal.tsx
Due: prettier --write, eslint --fix

removed not needed import
  src/dashboard/sidebar/modal/DashboardSidebarAccessModal.tsx
Due: prettier --write, eslint --fix

fixing code smells from SonarQube
  src/dashboard/sidebar/modal/DashboardSidebarAccessModal.tsx
Due: prettier --write, eslint --fix

Fix url to docs ui bundle
  docs/preview.yml
Due: none

Merge package-lock.json and yarn.lock file
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

Updated dockerfile to yarn
  Dockerfile
Due: none
