Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

t3
  src/application/Application.tsx
  src/application/ApplicationThunks.ts
  src/modal/WelcomeScreenModal.tsx
Due: prettier --write, eslint --fix

Update pie-chart.adoc : fixing Cypher
  docs/modules/ROOT/pages/user-guide/reports/pie-chart.adoc
Due: none

Final
  src/application/Application.tsx
  src/application/ApplicationThunks.ts
  src/modal/WelcomeScreenModal.tsx
Due: prettier --write, eslint --fix

Made some changes
  dashboard-26-jun-2023.json
  src/chart/graph/GraphChart.tsx
  src/chart/graph/component/button/GraphChartLegendButton.tsx
  src/report/Report.tsx
Due: prettier --write, eslint --fix

fixed wrong error throw in NeoGraphChartFitViewButton
  src/chart/graph/component/button/GraphChartFitViewButton.tsx
Due: prettier --write, eslint --fix

Added comments and added TODO in NeoOverrideCardQueryEditor
  src/extensions/query-translator/component/OverrideCardQueryEditor.tsx
  src/extensions/state/ExtensionSelectors.ts
Due: prettier --write, eslint --fix

Changed location and style of the legend button
  src/chart/graph/GraphChart.tsx
  src/chart/graph/component/button/GraphChartLegendButton.tsx
Due: prettier --write, eslint --fix

loose equality for parameter loading from saved dashboard
  src/settings/SettingsThunks.ts
Due: prettier --write, eslint --fix

when on error - reopen the settings to avoid an infinitely looping loading screen
  src/extensions/query-translator/util/Util.ts
Due: prettier --write, eslint --fix

added todo
  src/report/ReportQueryRunner.ts
Due: prettier --write, eslint --fix

Update documentation and info messages
  docs/modules/ROOT/pages/developer-guide/build-and-run.adoc
  scripts/message-entrypoint.sh
Due: none

Fixed bug where driver is recreated too many times
  src/dashboard/Dashboard.tsx
Due: prettier --write, eslint --fix

removed a console log
  src/extensions/query-translator/clients/ModelClient.ts
Due: prettier --write, eslint --fix

Final changes after the 2.3.0 Pre-release (#482)
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  docs/modules/ROOT/pages/developer-guide/styleConfiguration.adoc
  docs/modules/ROOT/pages/user-guide/extensions/workflows.adoc
  src/chart/graph/component/button/GraphChartFitViewButton.tsx
  src/dashboard/Dashboard.tsx
  src/extensions/ExtensionConfig.tsx
  src/extensions/query-translator/clients/ModelClient.ts
  src/extensions/query-translator/clients/const.ts
  src/extensions/query-translator/component/OverrideCardQueryEditor.tsx
  src/extensions/query-translator/component/QueryTranslator.tsx
  src/extensions/query-translator/util/Util.ts
  src/extensions/state/ExtensionReducer.ts
  src/extensions/state/ExtensionSelectors.ts
  src/report/ReportQueryRunner.ts
  src/settings/SettingsThunks.ts
Due: prettier --write, eslint --fix

Start migrating Dropdown to NeoField
  src/card/settings/CardSettingsContent.tsx
  src/card/settings/custom/CardSettingsContentPropertySelect.tsx
  src/component/field/Field.tsx
  src/component/field/Setting.tsx
  src/extensions/actions/ActionsRuleCreationModal.tsx
  src/extensions/sidebar/settings/SidebarSettingsModal.tsx
  src/index.pcss
Due: prettier --write, eslint --fix

added function to create from apoc metadata relationship pattterns, parked in side the const file for now
  src/extensions/query-translator/clients/const.ts
Due: prettier --write, eslint --fix

Add sentry.io
  package.json
  src/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Final fixes for 2.3.0 (#499)
  src/extensions/query-translator/clients/const.ts
Due: prettier --write, eslint --fix

Try code coverage report
  .github/workflows/develop-test.yml
  cypress.config.ts
  cypress/e2e/start_page.cy.js
  package.json
  scripts/docker-neo4j-initializer/docker-neo4j.sh
  scripts/docker-neo4j-initializer/start-movies-db.sh
  yarn.lock
Due: prettier --write, eslint --fix

Fix develop test pipeline
  .github/workflows/develop-test.yml
Due: none

New try code coverage
  .babelrc
  .gitignore
  cypress.config.ts
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/e2e.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Exclude cypress folder from test coverage
  cypress.config.ts
Due: prettier --write, eslint --fix

Add PDF support
  .gitignore
  samples/sample-data.cypher
  src/chart/attachment/AttachmentChart.tsx
  src/chart/datasource/DataSource.tsx
  src/chart/datasource/component/MqttList.tsx
Due: prettier --write, eslint --fix

Test adding click on Advanced settings to see coverage
  cypress/e2e/start_page.cy.js
Due: prettier --write

Click on Advanced settings for all report types
  cypress/e2e/start_page.cy.js
Due: prettier --write

Added top margin for new param select
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
Due: prettier --write, eslint --fix

Feature/add codecov (#502)
  .babelrc
  .github/workflows/develop-test.yml
  .gitignore
  cypress.config.ts
  cypress/e2e/start_page.cy.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/e2e.ts
  package.json
  scripts/docker-neo4j-initializer/docker-neo4j.sh
  scripts/docker-neo4j-initializer/start-movies-db.sh
  yarn.lock
Due: prettier --write, eslint --fix

Builder v1
  package.json
  public/Onlyfans-Logo-2016.png
  public/style.config.json
  src/extensions/ExtensionConfig.tsx
  src/extensions/querybuilder/Graph.tsx
  src/extensions/querybuilder/card.tsx
  src/extensions/querybuilder/component/Header.tsx
  src/extensions/querybuilder/component/InitialNodeSelector.tsx
  src/extensions/querybuilder/component/QueryBuilder.tsx
  src/extensions/querybuilder/component/QueryBuilderModal.tsx
  src/extensions/querybuilder/component/QueryEditor.tsx
  src/extensions/querybuilder/component/Toolbar.tsx
  src/extensions/querybuilder/component/index.tsx
  src/extensions/querybuilder/constants.ts
  src/extensions/querybuilder/grid/Column.tsx
  src/extensions/querybuilder/modal.tsx
  src/extensions/querybuilder/state/QueryBuilderActions.ts
  src/extensions/querybuilder/state/QueryBuilderReducer.ts
  src/extensions/querybuilder/state/QueryBuilderSelectors.ts
  src/extensions/querybuilder/state/reducers/currentQuery.ts
  src/extensions/querybuilder/state/reducers/queries.ts
  src/extensions/querybuilder/tab.tsx
  src/extensions/querybuilder/utils.ts
  webpack.config.js
  yarn.lock
Due: prettier --write, eslint --fix

Final fixes for 2.3.0 release
  changelog.md
  public/style.css
  release-notes.md
  src/card/settings/CardSettingsHeader.tsx
  src/chart/line/LineChart.tsx
  src/chart/map/MapChart.tsx
  src/config/ReportConfig.tsx
  src/dashboard/DashboardReducer.ts
  src/dashboard/placeholder/DashboardPlaceholder.tsx
  src/extensions/actions/ActionsRuleCreationModal.tsx
  src/index.tsx
Due: prettier --write, eslint --fix

Fix for luma threshold handling of non-hex colors
  src/component/theme/Themes.tsx
Due: prettier --write, eslint --fix

Added fix for when seperating overlapping markers is not required
  src/chart/map/layers/MarkerLayer.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Fixed bug where page names with dots in them were not rendered as suggestions in the action modal
  src/extensions/actions/ActionsRuleCreationModal.tsx
Due: prettier --write, eslint --fix

Fix minor issues before 2.3.0 release (#504)
  changelog.md
  public/style.css
  release-notes.md
  src/card/settings/CardSettingsHeader.tsx
  src/chart/line/LineChart.tsx
  src/chart/map/MapChart.tsx
  src/chart/map/layers/MarkerLayer.tsx
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
  src/component/theme/Themes.tsx
  src/config/ReportConfig.tsx
  src/dashboard/DashboardReducer.ts
  src/dashboard/placeholder/DashboardPlaceholder.tsx
  src/extensions/actions/ActionsRuleCreationModal.tsx
  src/index.tsx
Due: prettier --write, eslint --fix

Finalized release notes
  changelog.md
  release-notes.md
Due: none

Azure Open AI V1
  package.json
  src/dashboard/drawer/DashboardDrawer.tsx
  src/extensions/query-translator/QueryTranslatorConfig.ts
  src/extensions/query-translator/clients/AzureOpenAi/AzureOpenAiClient.ts
  src/extensions/query-translator/clients/AzureOpenAi/AzureOpenAiLogo.png
  src/extensions/query-translator/clients/ModelClient.ts
  src/extensions/query-translator/component/ClientSettings.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

Updated docs link format "
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  docs/modules/ROOT/pages/developer-guide/style-configuration.adoc
Due: none

Fixed invalid secret being used to publish docker image
  .github/workflows/master-deployment.yml
Due: none

Path conditions:
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.json)) or (any of: *.js)
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
