Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.tsx": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.js": ["prettier --write"]
}

examples plugged to state and to the modelClient to add the example prompy
  src/extensions/query-translator/clients/ModelClient.ts
  src/extensions/query-translator/clients/const.ts
  src/extensions/query-translator/component/ClientSettings.tsx
  src/extensions/query-translator/state/QueryTranslatorReducer.ts
  src/extensions/query-translator/state/QueryTranslatorThunks.ts
Due: prettier --write, eslint --fix

Fixed issues with pointers to invalid css and png files
  apps/neodash-editor/public/OpenAiLogo.png
  apps/neodash-editor/public/PolygonStyle.css
  apps/neodash-editor/public/index.html
  apps/neodash-editor/src/store.ts
  package.json
  packages/neodash-engine/src/extensions/advancedcharts/chart/areamap/PolygonLayer.tsx
  packages/neodash-engine/src/extensions/query-translator/clients/OpenAi/OpenAiLogo.png
  packages/neodash-engine/src/extensions/query-translator/component/LoadingIcon.tsx
Due: prettier --write, eslint --fix

fixed examples in modelCLient because the there was a missing edge case
  src/extensions/query-translator/clients/ModelClient.ts
Due: prettier --write, eslint --fix

Improved modal/menu handling for dashboard load
  src/dashboard/DashboardReducer.ts
  src/dashboard/sidebar/DashboardSidebar.tsx
  src/dashboard/sidebar/menu/DashboardSidebarCreateMenu.tsx
  src/dashboard/sidebar/modal/DashboardSidebarImportModal.tsx
  src/page/PageReducer.ts
Due: prettier --write, eslint --fix

added Tooltip for Save button in standalone mode
  src/modal/LoadModal.tsx
Due: prettier --write, eslint --fix

polished
  docs/modules/ROOT/pages/developer-guide/configuration.adoc
  public/config.json
  src/dashboard/Dashboard.tsx
  src/dashboard/DashboardThunks.ts
  src/modal/ConnectionModal.tsx
Due: prettier --write, eslint --fix

Fixed failed build
  src/chart/graph/util/NodeUtils.ts
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Fixed eslint isues
  src/chart/graph/util/NodeUtils.ts
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Fixed build pipeline
  .github/workflows/develop-deployment.yml
  .github/workflows/develop-test.yml
Due: none

Added gitattributes
  .gitattributes
Due: none

Changed nginx conf to be similar to old version temporarily, to make build succeed
  conf/default.conf.template
Due: none

Changed nginx conf to be similar to old version temporarily, to make build succeed
  conf/default.conf
Due: none

fix on error notification
  src/application/ApplicationActions.ts
  src/application/ApplicationReducer.ts
  src/application/ApplicationSelectors.ts
  src/application/ApplicationThunks.ts
Due: prettier --write, eslint --fix

Setting default value
  src/card/view/CardView.tsx
Due: prettier --write, eslint --fix

Setting default value to enableExecuteButtonForIds
  src/card/view/CardView.tsx
Due: prettier --write, eslint --fix

Added comments
  src/card/view/CardView.tsx
Due: prettier --write, eslint --fix

minor refinement in documentation
  docs/modules/ROOT/pages/developer-guide/configuration.adoc
Due: none

Import/export dashboards
  src/dashboard/sidebar/DashboardSidebar.tsx
  src/dashboard/sidebar/modal/DashboardSidebarExportModal.tsx
  src/dashboard/sidebar/modal/DashboardSidebarImportModal.tsx
  src/modal/SaveModal.tsx
Due: prettier --write, eslint --fix

hide logout button in standalone mode
  src/dashboard/header/DashboardHeaderLogoutButton.tsx
Due: prettier --write, eslint --fix

addressed findings from build job
  src/application/ApplicationThunks.ts
Due: prettier --write, eslint --fix

man merge d137081cfde4b2d5dcf1192b8a9be675e953bd0b
  src/application/ApplicationThunks.ts
Due: prettier --write, eslint --fix

Iterating on the build process of the library
  apps/neodash-editor/src/index.tsx
  packages/neodash-engine/package.json
  packages/neodash-engine/src/index.tsx
  packages/neodash-engine/webpack.config.js
Due: prettier --write, eslint --fix

handles token expiration
  package.json
  public/config.json
  src/application/ApplicationActions.ts
  src/application/ApplicationReducer.ts
  src/application/ApplicationThunks.ts
  src/component/sso/SSOLoginButton.tsx
  src/component/sso/SSOUtils.ts
  src/dashboard/Dashboard.tsx
  src/modal/ConnectionModal.tsx
  yarn.lock
Due: prettier --write, eslint --fix

self review
  public/config.json
  src/application/ApplicationThunks.ts
  src/component/sso/SSOLoginButton.tsx
  src/dashboard/Dashboard.tsx
  src/modal/ConnectionModal.tsx
Due: prettier --write, eslint --fix

selfreview2
  src/application/ApplicationThunks.ts
  src/dashboard/Dashboard.tsx
Due: prettier --write, eslint --fix

thanks sonar cloud
  src/application/ApplicationThunks.ts
Due: prettier --write, eslint --fix

Adding a flag to control the error popup
  public/config.json
  scripts/config-entrypoint.sh
  src/application/ApplicationActions.ts
  src/application/ApplicationReducer.ts
  src/application/ApplicationSelectors.ts
  src/application/ApplicationThunks.ts
  src/settings/SettingsThunks.ts
  yarn.lock
Due: prettier --write, eslint --fix

log name instead of UUID on successful loadbyUUID
  src/dashboard/DashboardThunks.ts
Due: prettier --write, eslint --fix

man chg 0484e44ed345e8a9008fcebc8753ddf881f038f1
  src/dashboard/DashboardThunks.ts
Due: prettier --write, eslint --fix

added comma
  scripts/config-entrypoint.sh
Due: none

Added react-helmet-async to change the title of the browser tab with the dashboard page name
  package.json
  src/component/page/PageHeader.tsx
  src/dashboard/header/DashboardTitle.tsx
  src/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix

File cleanup
  apps/neodash-editor/src/index.tsx
  package.json
Due: prettier --write, eslint --fix

Changed tab title to reflect dashboard name
  package.json
  src/component/page/PageHeader.tsx
  src/dashboard/header/DashboardTitle.tsx
  src/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Added removed yarn.lock file
  yarn.lock
Due: none

New dashboard sharing interface
  src/dashboard/DashboardThunks.ts
  src/dashboard/header/DashboardTitle.tsx
  src/dashboard/sidebar/DashboardSidebar.tsx
  src/dashboard/sidebar/DashboardSidebarListItem.tsx
  src/dashboard/sidebar/modal/DashboardSidebarDeleteModal.tsx
  src/dashboard/sidebar/modal/DashboardSidebarExportModal.tsx
  src/dashboard/sidebar/modal/DashboardSidebarShareModal.tsx
  src/dashboard/sidebar/modal/legacy/LegacyShareModal.tsx
  src/modal/ShareModal.tsx
Due: prettier --write, eslint --fix

Removed old save/load modal
  src/dashboard/header/DashboardTitle.tsx
  src/modal/LoadModal.tsx
  src/modal/SaveModal.tsx
Due: prettier --write, eslint --fix

using babel to compile package
  apps/neodash-editor/package.json
  apps/neodash-editor/webpack.config.js
  babel.config.js
  package.json
  packages/neodash-engine/package.json
  packages/neodash-engine/tsconfig.json
  packages/neodash-engine/webpack.config.js
  tsconfig.json
  yarn.lock
Due: prettier --write

Clean up monorepo scripts
  .gitignore
  apps/neodash-editor/webpack.config.js
  babel.config.json
  package.json
  packages/neodash-engine/tsconfig.json
Due: prettier --write
