Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

remove test recordings
  .github/workflows/develop-test.yml
Due: none

Removed old TODO
  src/extensions/sidebar/component/SidebarNodeCard.tsx
Due: prettier --write, eslint --fix

Fixed typo
  src/extensions/sidebar/SidebarDrawer.tsx
Due: prettier --write, eslint --fix

Cleaned up TODOs
  src/chart/line/LineChart.tsx
  src/chart/scatter/ScatterPlotChart.tsx
Due: prettier --write, eslint --fix

Fix render tooltip dev (#448)
  src/chart/map/layers/MarkerLayer.tsx
Due: prettier --write, eslint --fix

Dynamic style
  package.json
  public/style.config.json
  src/application/Application.tsx
  src/config/ApplicationConfig.ts
  src/config/StyleConfig.tsx
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: prettier --write, eslint --fix

Style 1
  public/logo_petrol_lightsand_1170.png
  public/style.config.json
  src/dashboard/header/DashboardHeaderTitleBar.tsx
Due: prettier --write, eslint --fix

Some style fixes and version bumps
  Dockerfile
  package.json
  src/config/ApplicationConfig.ts
  src/modal/AboutModal.tsx
  src/modal/WelcomeScreenModal.tsx
Due: prettier --write, eslint --fix

Empty style
  public/style.config.json
Due: prettier --write

more mini style fixes
  src/card/view/CardViewFooter.tsx
  src/dashboard/placeholder/DashboardPlaceholder.tsx
Due: prettier --write, eslint --fix

no logo
  public/logo_petrol_lightsand_1170.png
Due: none

Renamed reportId --> id
  public/style.css
  src/card/Card.tsx
  src/card/CardActions.ts
  src/card/CardSelectors.ts
  src/card/CardThunks.ts
  src/page/Page.tsx
  src/page/PageActions.ts
  src/page/PageReducer.ts
  src/page/PageThunks.ts
  src/settings/SettingsSelectors.ts
Due: prettier --write, eslint --fix

Changed inline source maps to source maps
  package.json
  webpack.config.js
Due: prettier --write

starting refactoring for mergr
  src/dashboard/drawer/DashboardDrawer.tsx
  src/extensions/sidebar/SidebarDrawerButton.tsx
  src/extensions/workflows/component/WorkflowListModal.tsx
Due: prettier --write, eslint --fix

Load of style needle
  src/config/StyleConfig.tsx
  src/index.tsx
Due: prettier --write, eslint --fix

Removed TETST comment
  src/dashboard/DashboardReducer.ts
Due: prettier --write, eslint --fix

small fixes
  src/card/view/CardView.tsx
  src/page/Page.tsx
Due: prettier --write, eslint --fix

Changed getReportIndex to getReportKey
  src/page/Page.tsx
Due: prettier --write, eslint --fix

Fix comments
  src/page/PageReducer.ts
  src/page/PageThunks.ts
Due: prettier --write, eslint --fix

Architectural review (#450)
  .github/workflows/develop-test.yml
  Dockerfile
  cypress.config.ts
  cypress.json
  cypress/e2e/start_page.cy.js
  package.json
  public/style.css
  src/card/Card.tsx
  src/card/CardActions.ts
  src/card/CardReducer.ts
  src/card/CardSelectors.ts
  src/card/CardThunks.ts
  src/card/settings/CardSettingsContent.tsx
  src/card/view/CardView.tsx
  src/chart/ChartUtils.ts
  src/chart/bar/BarChart.tsx
  src/chart/graph/component/GraphEntityInspectionTable.tsx
  src/chart/line/LineChart.tsx
  src/chart/pie/PieChart.tsx
  src/component/field/Field.tsx
  src/config/DashboardConfig.ts
  src/dashboard/DashboardReducer.ts
  src/dashboard/DashboardThunks.ts
  src/extensions/advancedcharts/chart/circlepacking/CirclePackingChart.tsx
  src/extensions/advancedcharts/chart/sankey/SankeyChart.tsx
  src/extensions/advancedcharts/chart/sunburst/SunburstChart.tsx
  src/extensions/advancedcharts/chart/treemap/TreeMapChart.tsx
  src/modal/AboutModal.tsx
  src/page/Page.tsx
  src/page/PageActions.ts
  src/page/PageReducer.ts
  src/page/PageThunks.ts
  src/settings/SettingsSelectors.ts
  src/settings/SettingsThunks.ts
  yarn.lock
Due: prettier --write, eslint --fix

Header configs
  src/chart/Utils.ts
  src/config/ApplicationConfig.ts
  src/config/StyleConfig.tsx
  src/dashboard/header/DashboardHeaderTitleBar.tsx
  src/index.tsx
Due: prettier --write, eslint --fix

Added multiselect clearable tweak
  src/card/view/CardViewFooter.tsx
Due: prettier --write, eslint --fix

Multi Selector
  src/card/view/CardView.tsx
  src/chart/parameter/ParameterSelectionChart.tsx
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
  src/chart/parameter/component/ParameterSelect.ts
  src/chart/parameter/component/QueryParameterSelect.tsx
  src/chart/parameter/component/RelationshipPropertyParameterSelect.tsx
  src/chart/table/TableChart.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Fixed master deployment script
  .github/workflows/master-deployment.yml
Due: none

Bumped version numbers
  .github/workflows/master-deployment.yml
  LICENSE
  README.md
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
Due: none

Consolidated extension format for 2.3
  src/card/CardThunks.ts
  src/card/settings/CardSettingsFooter.tsx
  src/dashboard/DashboardReducer.ts
  src/dashboard/DashboardSelectors.ts
  src/dashboard/DashboardThunks.ts
  src/extensions/ExtensionConfig.tsx
  src/extensions/ExtensionUtils.ts
  src/extensions/ExtensionsModal.tsx
  src/extensions/sidebar/state/SidebarSelectors.ts
  src/extensions/state/ExtensionReducer.ts
  src/extensions/state/ExtensionSelectors.ts
  src/extensions/workflows/state/WorkflowSelectors.ts
Due: prettier --write, eslint --fix

Fixed dynamic extension filter
  src/card/CardThunks.ts
Due: prettier --write, eslint --fix

Refactoring actions model to use Needle
  src/card/settings/CardSettingsFooter.tsx
  src/extensions/actions/ActionsRuleCreationModal.tsx
  src/extensions/styling/StyleRuleCreationModal.tsx
Due: prettier --write, eslint --fix

Finalized extensions
  src/extensions/actions/ActionsRuleCreationModal.tsx
Due: prettier --write, eslint --fix

Fixed action on map tooltip clikc
  src/chart/map/layers/MarkerLayer.tsx
  src/extensions/actions/ActionsRuleCreationModal.tsx
Due: prettier --write, eslint --fix

Commented out scatter plot
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Updating SSO settings
  public/config.json
  src/application/Application.tsx
  src/application/ApplicationActions.ts
  src/application/ApplicationReducer.ts
  src/application/ApplicationSelectors.ts
  src/application/ApplicationThunks.ts
  src/component/sso/SSOLoginButton.tsx
  src/component/sso/SSOUtils.ts
  src/modal/ConnectionModal.tsx
Due: prettier --write, eslint --fix

Removed duplicate code
  src/application/ApplicationThunks.ts
Due: prettier --write, eslint --fix

Revert dev
  public/style.css
Due: none

Extra configs
  src/config/ApplicationConfig.ts
  src/dashboard/header/DashboardHeaderPageButton.tsx
  src/dashboard/header/DashboardHeaderPageList.tsx
  src/dashboard/header/DashboardHeaderTitleBar.tsx
Due: prettier --write, eslint --fix

starting working on queryTranslator
  package.json
  src/component/field/Field.tsx
  src/dashboard/drawer/DashboardDrawer.tsx
  src/extensions/ExtensionConfig.tsx
  src/extensions/query-translator/QueryTranslator.tsx
  src/extensions/query-translator/QueryTranslatorConfig.ts
  src/extensions/query-translator/README.md
  src/extensions/query-translator/modelClients/ModelClient.ts
  src/extensions/query-translator/modelClients/OpenAi/OpenAiClient.ts
  src/extensions/query-translator/modelClients/OpenAi/OpenAiClientOLD.ts
  src/extensions/query-translator/modelClients/VertexAi/VertexAiClient.ts
  src/extensions/query-translator/modelClients/const.ts
  src/extensions/query-translator/settings/ClientSettings.tsx
  src/extensions/query-translator/settings/QueryTranslatorSettingsModal.tsx
  src/extensions/query-translator/state/QueryTranslatorActions.ts
  src/extensions/query-translator/state/QueryTranslatorReducer.ts
  src/extensions/query-translator/state/QueryTranslatorSelector.ts
  src/extensions/query-translator/state/QueryTranslatorThunks.ts
  src/modal/SaveModal.tsx
  src/settings/SettingsModal.tsx
  yarn.lock
Due: prettier --write, eslint --fix

added comments and starting work on openAiClient definiton
  src/extensions/query-translator/QueryTranslator.tsx
  src/extensions/query-translator/QueryTranslatorConfig.ts
  src/extensions/query-translator/modelClients/OpenAi/OpenAiClient.ts
  src/extensions/query-translator/settings/ClientSettings.tsx
  src/extensions/query-translator/settings/QueryTranslatorSettingsModal.tsx
  src/extensions/query-translator/state/QueryTranslatorThunks.ts
Due: prettier --write, eslint --fix

starting by adding a new chart
  src/chart/image/ImageChart.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Fixed deploy script, revert default SSO setting
  .github/workflows/master-deployment.yml
  public/config.json
Due: prettier --write

Bumped all versions to 2.3
  README.md
  src/card/settings/CardSettingsFooter.tsx
  src/dashboard/drawer/DashboardDrawer.tsx
  src/extensions/ExtensionConfig.tsx
  src/extensions/ExtensionsModal.tsx
  src/modal/ReportHelpModal.tsx
  src/modal/ShareModal.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.json)) or (any of: *.js)
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
