Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

ReProcessing Circle
  src/extensions/advancedcharts/chart/circlepacking/CirclePackingChart.tsx
  src/extensions/advancedcharts/chart/sunburst/SunburstChart.tsx
Due: prettier --write, eslint --fix

No re-execution without query change. TODO Settings that require re-execute it
  src/card/view/CardView.tsx
Due: prettier --write, eslint --fix

I see dead Flaky tests
  cypress/integration/start_page.spec.js
Due: prettier --write

Test 2
  cypress/integration/start_page.spec.js
Due: prettier --write

Trying cypress wait after this
  cypress/integration/start_page.spec.js
Due: prettier --write

Test should
  cypress/integration/start_page.spec.js
Due: prettier --write

Test should 2
  cypress/integration/start_page.spec.js
Due: prettier --write

Test should 3
  cypress/integration/start_page.spec.js
Due: prettier --write

Test should 4
  cypress/integration/start_page.spec.js
Due: prettier --write

Test should 5
  cypress/integration/start_page.spec.js
Due: prettier --write

Test should final
  cypress/integration/start_page.spec.js
Due: prettier --write

Test should final 2
  cypress/integration/start_page.spec.js
Due: prettier --write

removed useless todo
  src/dashboard/DashboardSelectors.ts
Due: prettier --write, eslint --fix

added comments
  src/extensions/ExtensionsModal.tsx
Due: prettier --write, eslint --fix

fixed casting error that was crashing the whole application in the nodesidecard
  src/extensions/sidebar/component/SidebarNodeCard.tsx
Due: prettier --write, eslint --fix

Index to Id Fix page change
  cypress/integration/start_page.spec.js
  src/card/Card.tsx
  src/card/CardActions.ts
  src/card/CardReducer.ts
  src/card/CardSelectors.ts
  src/card/CardThunks.ts
  src/dashboard/DashboardThunks.ts
  src/page/Page.tsx
  src/page/PageActions.ts
  src/page/PageReducer.ts
  src/page/PageThunks.ts
  src/settings/SettingsSelectors.ts
  src/settings/SettingsThunks.ts
Due: prettier --write, eslint --fix

Test password revert
  cypress/integration/start_page.spec.js
Due: prettier --write

Console error on i
  src/chart/graph/component/GraphEntityInspectionTable.tsx
Due: prettier --write, eslint --fix

Index input 99999
  src/page/Page.tsx
Due: prettier --write, eslint --fix

div on p warning
  src/card/settings/CardSettingsContent.tsx
Due: prettier --write, eslint --fix

Relative Vs Fixed Column width enhancement for Table chart
  src/chart/table/TableChart.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Bar chart re render clean
  src/chart/bar/BarChart.tsx
Due: prettier --write, eslint --fix

Line chart re render clean
  src/chart/ChartUtils.ts
  src/chart/line/LineChart.tsx
Due: prettier --write, eslint --fix

TEST
  src/dashboard/DashboardReducer.ts
Due: prettier --write, eslint --fix

Pie chart re render clean Re execute query on chart type change
  src/card/view/CardView.tsx
  src/chart/pie/PieChart.tsx
Due: prettier --write, eslint --fix

Sankey chart re render clean Test again
  cypress/integration/start_page.spec.js
  src/extensions/advancedcharts/chart/sankey/SankeyChart.tsx
Due: prettier --write, eslint --fix

test re
  cypress/integration/start_page.spec.js
Due: prettier --write

test query time
  src/config/DashboardConfig.ts
Due: prettier --write, eslint --fix

test last
  cypress/integration/start_page.spec.js
Due: prettier --write

test legacy
  cypress/integration/start_page.spec.js
Due: prettier --write

Here we go again
  cypress/integration/start_page.spec.js
Due: prettier --write

Here we go again vendetta
  cypress.config.ts
  cypress.json
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

new action
  .github/workflows/develop-test.yml
Due: none

sup file
  cypress.config.ts
  cypress/e2e/start_page.cy.js
Due: prettier --write, eslint --fix

sup pass
  cypress/e2e/start_page.cy.js
Due: prettier --write

no im
  cypress.config.ts
Due: prettier --write, eslint --fix

Cypress config
  .github/workflows/develop-test.yml
  cypress.config.ts
Due: prettier --write, eslint --fix

tok
  .github/workflows/develop-test.yml
Due: none

Cypress dashboard ci
  .github/workflows/develop-test.yml
Due: none

Flaky solution
  cypress/e2e/start_page.cy.js
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.json)) or (any of: *.js)
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
