Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Added option to define style config using environment variables for the NeoDash docker image
  docs/modules/ROOT/pages/developer-guide/style-configuration.adoc
  scripts/config-entrypoint.sh
Due: none

Make wrapping in table optional, enabled by default (#872)
  src/chart/table/TableChart.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Fix bad wrapping for arrays (#868)
  src/report/ReportRecordProcessing.tsx
Due: prettier --write, eslint --fix

Fixed issues where cross database dashboard sharing always reverted back to the default database (#873)
  src/application/ApplicationActions.ts
  src/application/ApplicationThunks.ts
Due: prettier --write, eslint --fix

Added release notes for 2.4.6
  .github/workflows/master-deployment.yml
  Dockerfile
  changelog.md
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  package.json
  release-notes.md
  src/modal/AboutModal.tsx
Due: prettier --write, eslint --fix

Added option to define style config using environment variables for the NeoDash docker image (#876)
  docs/modules/ROOT/pages/developer-guide/style-configuration.adoc
  scripts/config-entrypoint.sh
Due: none

Removed one PR from the release notes
  changelog.md
  release-notes.md
Due: none

Fixed typo in release notes
  changelog.md
  release-notes.md
Due: none

Added release notes for 2.4.6 (#877)
  .github/workflows/master-deployment.yml
  Dockerfile
  changelog.md
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  package.json
  release-notes.md
  src/modal/AboutModal.tsx
Due: prettier --write, eslint --fix

2.4.6 Release (#878)
  .github/workflows/master-deployment.yml
  Dockerfile
  changelog.md
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  docs/modules/ROOT/pages/developer-guide/style-configuration.adoc
  package.json
  release-notes.md
  scripts/config-entrypoint.sh
  src/application/ApplicationActions.ts
  src/application/ApplicationThunks.ts
  src/chart/table/TableChart.tsx
  src/config/ReportConfig.tsx
  src/modal/AboutModal.tsx
  src/report/ReportRecordProcessing.tsx
Due: prettier --write, eslint --fix

Fix multi-parameter select and transposed table side effect
  src/chart/table/TableChart.tsx
  src/report/ReportRecordProcessing.tsx
Due: prettier --write, eslint --fix

if-else to ternary operator
  src/component/misc/DataGridExpandRenderer.tsx
Due: prettier --write, eslint --fix

Write tests for array render method
  cypress/e2e/render/array.cy.js
  cypress/e2e/start_page.cy.js
  cypress/e2e/utils.js
  cypress/fixtures/cypher_queries.js
  src/report/ReportRecordProcessing.tsx
Due: prettier --write, eslint --fix

Remove debugging test skips
  cypress/e2e/render/array.cy.js
Due: prettier --write

Add test for multiple parameter select
  cypress/e2e/render/array.cy.js
  cypress/e2e/utils.js
Due: prettier --write

Fix tests
  cypress/e2e/render/array.cy.js
  cypress/e2e/utils.js
Due: prettier --write

PR reviews implemented
  src/component/misc/DataGridExpandRenderer.tsx
Due: prettier --write, eslint --fix

cleaning code according to sonarqube cloud
  public/config.json
  src/application/ApplicationThunks.ts
  src/connection/ConnectionModule.ts
  src/dashboard/sidebar/DashboardSidebarListItem.tsx
  src/dashboard/sidebar/modal/DashboardSidebarExportModal.tsx
  src/extensions/hive/auth/privateRoute.tsx
  src/extensions/hive/components/SaveToHiveModal.tsx
  src/extensions/hive/components/database/SelectDatabase.tsx
  src/extensions/hive/launch/launch.ts
  src/extensions/hive/launch/launchHelper.ts
  src/extensions/hive/persistence/SolutionsThunks.ts
  src/extensions/styling/StyleRuleCreationModal.tsx
  src/modal/ConnectionModal.tsx
  yarn.lock
Due: prettier --write, eslint --fix

removed old code
  src/component/misc/DataGridExpandRenderer.tsx
Due: prettier --write, eslint --fix

Code smell addressed
  src/chart/parameter/ParameterSelectionChart.tsx
Due: prettier --write, eslint --fix

Remove redundant ternary operator
  src/report/ReportRecordProcessing.tsx
Due: prettier --write, eslint --fix

added cypress
  cypress/e2e/start_page.cy.js
Due: prettier --write

Added cypress
  cypress/e2e/start_page.cy.js
Due: prettier --write

merged latest code
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Updated height
  src/component/groupreport/GroupReport.tsx
Due: prettier --write, eslint --fix

Addressed sonarqube issue
  src/component/groupreport/GroupReport.tsx
  src/page/Page.tsx
Due: prettier --write, eslint --fix

Fixed sonar
  src/component/groupreport/GroupReport.tsx
  src/page/Page.tsx
Due: prettier --write, eslint --fix

changed file according to PR #837
  gallery/dashboards/fraud.json
Due: prettier --write

Release prep
  .github/workflows/master-deployment.yml
  Dockerfile
  changelog.md
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  package.json
  release-notes.md
  src/modal/AboutModal.tsx
Due: prettier --write, eslint --fix

Add contributors to release notes
  changelog.md
  release-notes.md
Due: none

Revert "Merge pull request #114 from mercedes-benz/VULCAN-650/ExpandedCellRenderer"
  src/component/misc/DataGridExpandRenderer.tsx
  src/report/ReportRecordProcessing.tsx
Due: prettier --write, eslint --fix

solutionshive handled sonar minor issues
  src/extensions/hive/auth/authLib.ts
  src/extensions/hive/components/SaveToHiveModal.tsx
  src/extensions/hive/config/dynamicConfig.ts
  src/extensions/hive/persistence/SolutionsThunks.ts
  src/extensions/hive/util/util.ts
  src/modal/ConnectionModal.tsx
Due: prettier --write, eslint --fix

solutionshive sonar low issues fixes
  src/extensions/hive/components/SaveToHiveModal.tsx
  src/extensions/hive/launch/launch.ts
Due: prettier --write, eslint --fix

fixing string edge case at param loading
  src/settings/SettingsThunks.ts
Due: prettier --write, eslint --fix

solutionshive sonar issues round-2
  src/application/ApplicationThunks.ts
  src/connection/hive/HiveConnectionModule.tsx
  src/extensions/hive/components/PublishInfo.tsx
  src/extensions/hive/components/SaveToHiveModal.tsx
  src/extensions/hive/components/database/ConfigureSelfManagedDatabase.tsx
  src/extensions/hive/components/database/SelectDatabase.tsx
  src/extensions/hive/config/dynamicConfig.ts
Due: prettier --write, eslint --fix

Fix: Default rel width applied on missing property value
  src/chart/graph/util/RecordUtils.ts
Due: prettier --write, eslint --fix

Update release notes
  .github/workflows/master-deployment.yml
  Dockerfile
  changelog.md
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  package.json
  release-notes.md
  src/modal/AboutModal.tsx
Due: prettier --write, eslint --fix

Remove console prints
  src/settings/SettingsThunks.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.json)) or (any of: *.js)
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
