Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.tsx": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.js": ["prettier --write"]
}

enable switching between cypher/markdown languages
  src/component/editor/CodeEditorComponent.tsx
Due: prettier --write, eslint --fix

update yarn.lock
  yarn.lock
Due: none

fix lint errors
  src/component/editor/CodeEditorComponent.tsx
Due: prettier --write, eslint --fix

use link
  docs/modules/ROOT/pages/developer-guide/build-and-run.adoc
Due: none

Fixed style issues introduced by 2.2.1 + some of the console warnings in development mode
  package.json
  src/card/view/CardViewHeader.tsx
  src/dashboard/header/DashboardHeader.tsx
  src/dashboard/header/DashboardHeaderPageList.tsx
  src/dashboard/header/DashboardHeaderTitleBar.tsx
  src/extensions/ExtensionsModal.tsx
  src/extensions/styling/StyleRuleCreationModal.tsx
  src/modal/AboutModal.tsx
  src/modal/ConnectionModal.tsx
  src/modal/GraphItemInspectModal.tsx
  src/modal/LoadModal.tsx
  src/modal/LoadSharedDashboardModal.tsx
  src/modal/NotificationModal.tsx
  src/modal/ReportExamplesModal.tsx
  src/modal/ReportHelpModal.tsx
  src/modal/SaveModal.tsx
  src/modal/ShareModal.tsx
  src/settings/SettingsModal.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Added wine dashboard
  gallery/dashboards/wine.json
  gallery/dashboards/wine.png
Due: prettier --write

Updated wine dashboard in gallery
  gallery/dashboards/wine.json
Due: prettier --write

Added jokes dashboard
  gallery/dashboards/jokes.json
  gallery/dashboards/jokes.png
Due: prettier --write

Added new Docker image publish location
  .github/workflows/master-deployment.yml
Due: none

Refactoring docs to point to new docker image location
  README.md
  docs/modules/ROOT/pages/developer-guide/build-and-run.adoc
  docs/modules/ROOT/pages/developer-guide/standalone-mode.adoc
  docs/modules/ROOT/pages/quickstart.adoc
Due: none

Fixed URL reference for gallery docs
  gallery/README.md
Due: none

Some more minor style fixes in modal text
  src/extensions/ExtensionsModal.tsx
  src/modal/AboutModal.tsx
  src/modal/ShareModal.tsx
Due: prettier --write, eslint --fix

update @neo4j-cypher/react-codemirror to latest (fix line number text height)
  package.json
  yarn.lock
Due: prettier --write

Fixed unclear phrasing in extensions modal
  src/extensions/ExtensionsModal.tsx
Due: prettier --write, eslint --fix

Fixed deployment pipeline
  .github/workflows/develop-deployment.yml
  .github/workflows/master-deployment.yml
  .github/workflows/master-test.yml
  Dockerfile
  package.json
  src/modal/AboutModal.tsx
Due: prettier --write, eslint --fix

Retrigger workflow
  .github/workflows/develop-deployment.yml
Due: none

Refactoring the parameter selector chart and updating MUI component version
  src/chart/parameter/ParameterSelectionChart.tsx
  src/chart/parameter/component/FreeTextParameterSelect.tsx
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
  src/chart/parameter/component/RelationshipPropertyParameterSelect.tsx
Due: prettier --write, eslint --fix

on bars
  src/chart/bar/BarChart.tsx
Due: prettier --write, eslint --fix

Added citation graph
  gallery/dashboards/citation.json
  gallery/dashboards/citation.png
Due: prettier --write

Added wine dashboard to gallery (#298)
  gallery/dashboards/wine.json
  gallery/dashboards/wine.png
Due: prettier --write

Added jokes dashboard (#300)
  gallery/dashboards/jokes.json
  gallery/dashboards/jokes.png
Due: prettier --write

Added citation graph (#306)
  gallery/dashboards/citation.json
  gallery/dashboards/citation.png
Due: prettier --write

Added assessment gallery
  gallery/dashboards/assessment.json
  gallery/dashboards/assessment.png
Due: prettier --write

Fixed breaking integration tests
  cypress/fixtures/cypher_queries.js
  cypress/integration/start_page.spec.js
Due: prettier --write

use link (#295)
  docs/modules/ROOT/pages/developer-guide/build-and-run.adoc
Due: none

upgrade to @neo4j-cypher/react-codemirror package (#286)
  cypress/fixtures/cypher_queries.js
  cypress/integration/start_page.spec.js
  package.json
  public/style.css
  src/component/editor/CodeEditorComponent.tsx
  src/component/editor/CypherEditor.tsx
  webpack.config.js
  yarn.lock
Due: prettier --write, eslint --fix

Added option to turn on/off refreshing/download/fullscreening for each report
  src/card/view/CardView.tsx
  src/card/view/CardViewHeader.tsx
  src/config/DashboardConfig.ts
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Added WHO styling
  public/logo-small.png
  public/logo.png
  src/application/ApplicationReducer.ts
  src/application/ApplicationThunks.ts
  src/dashboard/DashboardReducer.ts
  src/dashboard/DashboardStyle.ts
  src/dashboard/header/DashboardHeaderTitleBar.tsx
  src/dashboard/placeholder/DashboardPlaceholder.tsx
  src/modal/ConnectionModal.tsx
Due: prettier --write, eslint --fix

Temporarily disabling tests
  .github/workflows/develop-deployment.yml
Due: none

enabled refreshing/fullscreening/image download on a per report basis
  src/config/DashboardConfig.ts
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Added step to release pipeline to publish to neo4jlabs/neodash on Docker Hub (#299)
  .github/workflows/master-deployment.yml
  README.md
  docs/modules/ROOT/pages/developer-guide/build-and-run.adoc
  docs/modules/ROOT/pages/developer-guide/standalone-mode.adoc
  docs/modules/ROOT/pages/quickstart.adoc
  gallery/README.md
Due: none

#167 Fix half-displayed row in compact table
  src/chart/table/TableChart.tsx
Due: prettier --write, eslint --fix

Moved refresh rate, fullscreening, and screenshots to advanced settings for each report
  docs/antora.yml
  docs/preview.yml
  src/card/Card.tsx
  src/card/CardActions.ts
  src/card/CardReducer.ts
  src/card/CardThunks.ts
  src/card/settings/CardSettings.tsx
  src/card/settings/CardSettingsContent.tsx
  src/card/view/CardView.tsx
  src/chart/line/LineChart.tsx
  src/config/ReportConfig.tsx
  src/extensions/advancedcharts/AdvancedChartsReportConfig.tsx
  src/report/Report.tsx
Due: prettier --write, eslint --fix

Renamed docs portal
  docs/antora.yml
  docs/preview.yml
Due: none

Disabled database selector for text/markdown reports
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Fix overflowing row for compact table
  src/chart/table/TableChart.tsx
Due: prettier --write, eslint --fix

update @neo4j-cypher/react-codemirror for bugfix
  package.json
  yarn.lock
Due: prettier --write

oops use ^ in package version
  package.json
  yarn.lock
Due: prettier --write

bump again for pre-release 19
  package.json
  yarn.lock
Due: prettier --write

[Feature Request] Refresh button #166 (#277)
  docs/antora.yml
  docs/preview.yml
  src/card/Card.tsx
  src/card/CardActions.ts
  src/card/CardReducer.ts
  src/card/CardThunks.ts
  src/card/settings/CardSettings.tsx
  src/card/settings/CardSettingsContent.tsx
  src/card/view/CardView.tsx
  src/card/view/CardViewHeader.tsx
  src/chart/line/LineChart.tsx
  src/config/DashboardConfig.ts
  src/config/ReportConfig.tsx
  src/extensions/advancedcharts/AdvancedChartsReportConfig.tsx
  src/report/Report.tsx
  webpack.config.js
Due: prettier --write, eslint --fix
