Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.tsx": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.js": ["prettier --write"]
}

Fixes #160 (#269)
  scripts/config-entrypoint.sh
Due: none

Fix : Replace parameter in iFrame URLs (#276)
  src/card/view/CardView.tsx
Due: prettier --write, eslint --fix

Fix merge conflicts
  src/chart/parameter/ParameterSelectionChart.tsx
Due: prettier --write, eslint --fix

Added conditional setting of last run timestamp
  src/card/view/CardView.tsx
Due: prettier --write, eslint --fix

Added utils for chart colors and updated coloring function in PieChart component
  src/chart/ChartColorUtils.ts
  src/chart/pie/PieChart.tsx
Due: prettier --write, eslint --fix

Resyncing with extensions repo after linting
  .github/workflows/develop-deployment.yml
Due: none

Resyncing with extensions repo after linting
  .github/workflows/master-deployment.yml
Due: none

Update LICENSE and README
  LICENSE
  README.md
Due: none

Resync
  README.md
  src/card/settings/CardSettingsFooter.tsx
  src/chart/graph/GraphChart.tsx
  src/chart/map/MapChart.tsx
  src/chart/table/TableChart.tsx
  src/config/DashboardConfig.ts
  src/config/ReportConfig.tsx
  src/extensions/ExtensionConfig.ts
  src/extensions/actions/ActionsRuleCreationModal.tsx
  src/extensions/advancedcharts/Utils.ts
  src/modal/AboutModal.tsx
  src/report/ReportRecordProcessing.tsx
  src/settings/SettingsModal.tsx
Due: prettier --write, eslint --fix

Re-apply linting
  src/card/settings/CardSettingsFooter.tsx
  src/chart/graph/GraphChart.tsx
  src/chart/map/MapChart.tsx
  src/chart/table/TableChart.tsx
  src/extensions/actions/ActionsRuleCreationModal.tsx
  src/extensions/advancedcharts/Utils.ts
  src/report/ReportRecordProcessing.tsx
  src/settings/SettingsModal.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Restore width/height in graphchart
  src/chart/graph/GraphChart.tsx
Due: prettier --write, eslint --fix

Style fixes
  src/card/settings/CardSettingsFooter.tsx
Due: prettier --write, eslint --fix

Fixing out-of-sync code
  src/chart/ChartUtils.ts
  src/chart/graph/GraphChart.tsx
Due: prettier --write, eslint --fix

Bumped version
  package.json
  src/modal/AboutModal.tsx
Due: prettier --write, eslint --fix

Crash on Boolean options parameter selection (#285)
  src/chart/parameter/ParameterSelectionChart.tsx
Due: prettier --write, eslint --fix

Update docs/modules/ROOT/pages/user-guide/reports/map.adoc
  docs/modules/ROOT/pages/user-guide/reports/map.adoc
Due: none

Docs on custom map provider
  docs/modules/ROOT/pages/user-guide/reports/map.adoc
Due: none

Resolving conflicts
  src/extensions/advancedcharts/chart/radar/RadarChart.tsx
Due: prettier --write, eslint --fix

Bug fix
  src/card/settings/custom/CardSettingsContentPropertySelect.tsx
  src/card/view/CardViewHeader.tsx
Due: prettier --write, eslint --fix

Refactoring
  src/card/settings/custom/CardSettingsContentPropertySelect.tsx
  src/chart/parameter/ParameterSelectionChart.tsx
Due: prettier --write, eslint --fix

Fixed replacement of params in card headers
  src/card/view/CardViewHeader.tsx
Due: prettier --write, eslint --fix

Hotfix for Neo4j container issues with 5.3
  scripts/docker-neo4j-initializer/docker-neo4j.sh
Due: none

Hotfix for Neo4j container issues with 5.3 (#293)
  scripts/docker-neo4j-initializer/docker-neo4j.sh
Due: none

Added TODOs based on comments
  webpack.config.js
Due: prettier --write

Updated deployment scripts to use minimal build without source maps (#271)
  .github/workflows/develop-deployment.yml
  .github/workflows/master-deployment.yml
  Dockerfile
  cypress/fixtures/cypher_queries.js
  cypress/integration/start_page.spec.js
  package.json
  src/chart/table/TableChart.tsx
  webpack.config.js
Due: prettier --write, eslint --fix

fix(download report image): added missing ref for card expanded view
  src/card/Card.tsx
Due: prettier --write, eslint --fix

Removed package-lock.json
  package-lock.json
Due: prettier --write

Changing card image download logic (#273)
  src/card/Card.tsx
  src/card/view/CardView.tsx
Due: prettier --write, eslint --fix

Dynamic Card titles (#270)
  src/card/settings/custom/CardSettingsContentPropertySelect.tsx
  src/card/view/CardView.tsx
  src/card/view/CardViewHeader.tsx
  src/chart/parameter/ParameterSelectionChart.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Docs on custom map provider (#282)
  docs/modules/ROOT/pages/user-guide/reports/map.adoc
Due: none

Added release notes, bumped version number
  .github/workflows/master-deployment.yml
  Dockerfile
  changelog.md
  package.json
  release-notes.md
  src/modal/AboutModal.tsx
Due: prettier --write, eslint --fix

Hotfix for broken npm pack command
  package.json
Due: prettier --write

Republish 2.2.1 extended
  package.json
Due: prettier --write

bump @neo4j-cypher/react-codemirror
  package.json
  yarn.lock
Due: prettier --write

bump @neo4j-cypher/react-codemirror to latest
  package.json
  yarn.lock
Due: prettier --write
