Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.tsx": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.js": ["prettier --write"]
}

Fixed loading... issue with no data returning from GraphQL
  src/connection/hive/HiveConnectionModule.tsx
  src/extensions/hive/auth/authLib.ts
  src/extensions/hive/launch/launch.ts
Due: prettier --write, eslint --fix

changing cell text/background colour now plays nicely
  src/chart/table/TableChart.tsx
  src/extensions/styling/StyleRuleEvaluator.ts
Due: prettier --write, eslint --fix

TODO note about row/cell rule mix and match behaviour
  src/chart/table/TableChart.tsx
Due: prettier --write, eslint --fix

Improve method for checking "low" property existence in downloadCSV function
  src/chart/ChartUtils.ts
Due: prettier --write, eslint --fix

inactive or access token failure
  src/report/Report.tsx
  src/report/ReportQueryRunner.ts
Due: prettier --write, eslint --fix

Connect with query via UUID
  src/chart/easydb/EasydbDetailView.tsx
Due: prettier --write, eslint --fix

added neo4j+s as default protocol and tested it and it works!
  docs/modules/ROOT/pages/developer-guide/configuration.adoc
  docs/modules/ROOT/pages/developer-guide/standalone-mode.adoc
  docs/modules/ROOT/pages/developer-guide/state-management.adoc
  public/config.json
  src/application/ApplicationReducer.ts
  src/application/ApplicationThunks.ts
Due: prettier --write, eslint --fix

Fixed a bug on the SSO LognButton and reset dashboard for logout and for refresh
  public/config.json
  src/application/ApplicationThunks.ts
  src/component/sso/SSOLoginButton.tsx
  src/dashboard/header/DashboardHeader.tsx
Due: prettier --write, eslint --fix

chnaged the version in aboutmodal to visually see if a repo has been deployed
  src/modal/AboutModal.tsx
Due: prettier --write, eslint --fix

fix: addressed review comments for api extension changes
  src/chart/table/TableChart.tsx
Due: prettier --write, eslint --fix

Added evolution notice
  README.md
  evolving.png
Due: none

Fixed typo in README
  README.md
Due: none

Fix for automatic reset view rups package link
  src/chart/table/TableChart.tsx
Due: prettier --write, eslint --fix

notification handler for rups package creation
  src/chart/table/TableChart.tsx
  src/component/custom/Notification.tsx
Due: prettier --write, eslint --fix

Bumped version number to 2.4.9
  .github/workflows/master-deployment.yml
  Dockerfile
  changelog.md
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  package.json
  release-notes.md
  src/modal/AboutModal.tsx
Due: prettier --write, eslint --fix

Improve method for checking "low" property existence in downloadCSV function (#951)
  src/chart/ChartUtils.ts
Due: prettier --write, eslint --fix

Update configuration.adoc (#946)
  docs/modules/ROOT/pages/developer-guide/configuration.adoc
Due: none

Feature/rule based styling table colouring (#944)
  src/chart/table/TableChart.tsx
  src/extensions/styling/StyleRuleCreationModal.tsx
  src/extensions/styling/StyleRuleEvaluator.ts
Due: prettier --write, eslint --fix

Bugfix/array table wrap (#943)
  src/report/ReportRecordProcessing.tsx
Due: prettier --write, eslint --fix

changes to add ssl support (#935)
  ssl/Dockerfile
  ssl/default.conf
Due: none

Removed superfluous log statements
  src/application/ApplicationThunks.ts
Due: prettier --write, eslint --fix

adding param to manage SSO redirection (#918)
  src/application/ApplicationThunks.ts
Due: prettier --write, eslint --fix

Add possibility to hide Y axes and grid lines in BarChart (#895)
  .eslintrc.json
  cypress.config.ts
  cypress/Page.js
  cypress/e2e/bar_chart.cy.js
  cypress/e2e/charts/array.cy.js
  cypress/e2e/charts/bar.cy.js
  cypress/e2e/charts/table.cy.js
  cypress/e2e/start_page.cy.js
  cypress/e2e/utils.js
  cypress/index.js
  cypress/support/commands.js
  docs/modules/ROOT/pages/developer-guide/style-configuration.adoc
  package.json
  src/chart/bar/BarChart.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Markdown tables not rendered #836 (#893)
  package.json
  src/chart/markdown/MarkdownChart.tsx
  src/index.pcss
  yarn.lock
Due: prettier --write, eslint --fix

Updated README
  README.md
Due: none

Current Users or ALL Users getting deleted in an Update (#906)
  src/extensions/rbac/RBACManagementModal.tsx
  src/extensions/rbac/RBACUtils.ts
Due: prettier --write, eslint --fix

Review + small fixes, LGTM
  k8s-deploy/neodash/Chart.yaml
  k8s-deploy/neodash/README.md
  k8s-deploy/neodash/templates/NOTES.txt
Due: none

Finalized release notes and updated README for 2.4.9
  README.md
  changelog.md
  release-notes.md
Due: none

[Feature #884] Helm chart for Kubernetes deployments PR#902 (#971)
  docs/modules/ROOT/pages/developer-guide/build-and-run.adoc
  k8s-deploy/neodash/.helmignore
  k8s-deploy/neodash/Chart.yaml
  k8s-deploy/neodash/README.md
  k8s-deploy/neodash/templates/NOTES.txt
  k8s-deploy/neodash/templates/_helpers.tpl
  k8s-deploy/neodash/templates/deployment.yaml
  k8s-deploy/neodash/templates/hpa.yaml
  k8s-deploy/neodash/templates/ingress.yaml
  k8s-deploy/neodash/templates/service.yaml
  k8s-deploy/neodash/templates/serviceaccount.yaml
  k8s-deploy/neodash/templates/tests/test-connection.yaml
  k8s-deploy/neodash/values.yaml
  k8s-deploy/sample-k8s-yamls/deployment.yaml
  k8s-deploy/sample-k8s-yamls/service.yaml
Due: none

Initial commit for NeoDash AI-WW-GK
  package.json
  yarn.lock
Due: prettier --write
