Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix wrong import
  src/chart/map/layers/drilldownmap.tsx
Due: prettier --write, eslint --fix

finalized changelog and release notes
  changelog.md
  release-notes.md
Due: none

fix missing functio in drilldownMap
  src/chart/map/layers/drilldownmap.tsx
Due: prettier --write, eslint --fix

Reuse existing color util instead of new one
  src/chart/ChartColorUtils.ts
  src/chart/bar/BarChart.tsx
  src/chart/pie/PieChart.tsx
  src/config/ColorConfig.ts
  yarn.lock
Due: prettier --write, eslint --fix

Feature/rule based styling on top of scheme (#331)
  src/chart/bar/BarChart.tsx
  src/chart/pie/PieChart.tsx
  src/config/ColorConfig.ts
  src/report/ReportWrapper.tsx
Due: prettier --write, eslint --fix

Refactoring the parameter selector chart and updating MUI component (#301)
  changelog.md
  release-notes.md
  src/card/settings/custom/CardSettingsContentPropertySelect.tsx
  src/chart/Chart.ts
  src/chart/parameter/ParameterSelectionChart.tsx
  src/chart/parameter/component/FreeTextParameterSelect.tsx
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
  src/chart/parameter/component/ParameterSelect.ts
  src/chart/parameter/component/RelationshipPropertyParameterSelect.tsx
Due: prettier --write, eslint --fix

Fixed typo in about modal screen
  src/modal/AboutModal.tsx
Due: prettier --write, eslint --fix

Update master-deployment.yml
  .github/workflows/master-deployment.yml
Due: none

Update master-deployment.yml (#336)
  .github/workflows/master-deployment.yml
Due: none

Update package.json
  package.json
Due: prettier --write

Hotfix for broken gallery with conflicting linting config
  gallery/package.json
  gallery/src/App.test.tsx
  gallery/src/App.tsx
  gallery/yarn.lock
Due: prettier --write, eslint --fix

Scatter plot
  src/chart/line/LineChart.tsx
Due: prettier --write, eslint --fix

Scatter plot
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Stacked Bars COlors FIx
  src/chart/bar/BarChart.tsx
Due: prettier --write, eslint --fix

Workaround source map warning
  webpack.config.js
Due: prettier --write

No multicolor on singles
  src/chart/bar/BarChart.tsx
Due: prettier --write, eslint --fix

fix on long lists
  src/chart/bar/BarChart.tsx
Due: prettier --write, eslint --fix

Stacked Bars Colors Fix (#343)
  src/chart/bar/BarChart.tsx
  webpack.config.js
Due: prettier --write, eslint --fix

Fixed bug in manual label name specification of param selector
  src/card/settings/custom/CardSettingsContentPropertySelect.tsx
Due: prettier --write, eslint --fix

Fixed bug in manual label name specification of param selector (#344)
  src/card/settings/custom/CardSettingsContentPropertySelect.tsx
Due: prettier --write, eslint --fix

Passed all dashboard parameters to parameter populating query
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
Due: prettier --write, eslint --fix

Fix for numbers.
  src/report/ReportRecordProcessing.tsx
Due: prettier --write, eslint --fix

Fix for numbers. (#346)
  src/report/ReportRecordProcessing.tsx
Due: prettier --write, eslint --fix

Added docs and refactored settings retrieval
  docs/modules/ROOT/pages/user-guide/reports/line-chart.adoc
  src/chart/line/LineChart.tsx
Due: prettier --write, eslint --fix

Added release notes for 2.2.3
  .github/workflows/master-deployment.yml
  Dockerfile
  changelog.md
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  package.json
  release-notes.md
  src/modal/AboutModal.tsx
Due: prettier --write, eslint --fix

Added release notes for 2.2.3
  changelog.md
  release-notes.md
Due: none

Scatter plot (#341)
  docs/modules/ROOT/pages/user-guide/reports/line-chart.adoc
  src/chart/line/LineChart.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Added fix for link parsing in documentation portal
  docs/modules/ROOT/pages/user-guide/reports/map.adoc
Due: none

Quickfix for auto-resetting param display text when advanced setting is toggled
  src/card/settings/custom/CardSettingsContentPropertySelect.tsx
Due: prettier --write, eslint --fix

Updated release notes
  changelog.md
  release-notes.md
Due: none

Added release notes for 2.2.3 (#348)
  .github/workflows/master-deployment.yml
  Dockerfile
  changelog.md
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  docs/modules/ROOT/pages/user-guide/reports/map.adoc
  package.json
  release-notes.md
  src/card/settings/custom/CardSettingsContentPropertySelect.tsx
  src/modal/AboutModal.tsx
Due: prettier --write, eslint --fix

2.2.3 Release (#349)
  .github/workflows/master-deployment.yml
  Dockerfile
  changelog.md
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  docs/modules/ROOT/pages/user-guide/reports/line-chart.adoc
  docs/modules/ROOT/pages/user-guide/reports/map.adoc
  package.json
  release-notes.md
  src/card/settings/custom/CardSettingsContentPropertySelect.tsx
  src/chart/bar/BarChart.tsx
  src/chart/line/LineChart.tsx
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
  src/config/ReportConfig.tsx
  src/modal/AboutModal.tsx
  src/report/ReportRecordProcessing.tsx
  webpack.config.js
  yarn.lock
Due: prettier --write, eslint --fix

Bumped Cypher editor version
  package.json
  yarn.lock
Due: prettier --write

Hotfix for Cypher editor version (#350)
  package.json
  yarn.lock
Due: prettier --write

temporary state for the monorepo
  .gitignore
  apps/gallery/.turbo/turbo-build.log
  apps/neodash-editor/package.json
  apps/neodash-editor/src/index.tsx
  package.json
  packages/neodash-engine/package.json
  turbo.json
  yarn.lock
Due: prettier --write, eslint --fix

Removed outdated deploy script
  .github/workflows/master-deployment.yml
Due: none

Version 1
  src/card/settings/custom/CardSettingsContentPropertySelect.tsx
  src/chart/parameter/ParameterSelectionChart.tsx
  src/chart/parameter/component/QueryParameterSelect.tsx
Due: prettier --write, eslint --fix

works kind of now with Turbo for gallery
  .gitignore
  apps/gallery/.babelrc
  apps/gallery/.turbo/turbo-build.log
  apps/gallery/package.json
  apps/gallery/tsconfig.json
  apps/gallery/webpack.config.js
  apps/neodash-editor/webpack.config.js
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.json)) or (any of: *.js)
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
