Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

working on scatterplot
  src/chart/scatter/ScatterPlotChart.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Almost done here, to read the todo on top of the component
  src/chart/scatter/ScatterPlotChart.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Fix selectors not working
  src/card/settings/custom/CardSettingsContentPropertySelect.tsx
Due: prettier --write, eslint --fix

Refactoring
  src/application/ApplicationThunks.ts
  src/chart/graph/component/GraphEntityInspectionTable.tsx
  src/dashboard/DashboardReducer.ts
  src/dashboard/drawer/DashboardDrawer.tsx
  src/extensions/ExtensionConfig.tsx
  src/extensions/ExtensionsModal.tsx
  src/extensions/alert/AlertConfig.ts
  src/extensions/sidebar/SidebarConfig.ts
  src/extensions/sidebar/SidebarDrawer.tsx
  src/extensions/sidebar/SidebarDrawerButton.tsx
  src/extensions/sidebar/SidebarDrawerHeader.tsx
  src/extensions/sidebar/component/SidebarNodeCard.tsx
  src/extensions/sidebar/component/SidebarNodeInspectionModal.tsx
  src/extensions/sidebar/settings/SidebarSettingsForm.tsx
  src/extensions/sidebar/settings/SidebarSettingsModal.tsx
  src/extensions/sidebar/state/SidebarActions.ts
  src/extensions/sidebar/state/SidebarReducer.ts
  src/extensions/sidebar/state/SidebarSelectors.ts
  src/extensions/state/ExtensionActions.ts
  src/extensions/state/ExtensionReducer.ts
  src/extensions/state/ExtensionSelectors.ts
  src/extensions/workflows/component/Icons.tsx
  src/extensions/workflows/component/WorkflowDrawerButton.tsx
  src/extensions/workflows/component/WorkflowEditorModal.tsx
  src/extensions/workflows/component/WorkflowListModal.tsx
  src/extensions/workflows/component/WorkflowRunnerModal.tsx
  src/extensions/workflows/component/WorkflowRunnerStepDetails.tsx
  src/extensions/workflows/component/WorkflowStepSelectionModal.tsx
  src/extensions/workflows/state/WorkflowActions.ts
  src/extensions/workflows/state/WorkflowReducer.ts
  src/extensions/workflows/state/WorkflowSelectors.ts
  src/extensions/workflows/util/WorkflowRunner.ts
Due: prettier --write, eslint --fix

Refactor
  src/application/ApplicationThunks.ts
  src/extensions/sidebar/SidebarDrawerButton.tsx
  src/extensions/sidebar/state/SidebarActions.ts
Due: prettier --write, eslint --fix

Final refactoring
  src/chart/graph/component/GraphEntityInspectionTable.tsx
  src/extensions/ExtensionConfig.tsx
  src/extensions/sidebar/SidebarConfig.ts
  src/extensions/sidebar/SidebarDrawerHeader.tsx
  src/extensions/sidebar/component/SidebarNodeInspectionModal.tsx
  src/extensions/sidebar/settings/SidebarSettingsForm.tsx
  src/extensions/sidebar/state/SidebarReducer.ts
  src/extensions/sidebar/state/SidebarSelectors.ts
  src/extensions/state/ExtensionSelectors.ts
  src/extensions/workflows/WorkflowSteps.ts
  src/extensions/workflows/component/WorkflowDrawerButton.tsx
  src/extensions/workflows/component/WorkflowEditorModal.tsx
  src/extensions/workflows/component/WorkflowListModal.tsx
  src/extensions/workflows/component/WorkflowRunnerModal.tsx
  src/extensions/workflows/component/WorkflowRunnerStepDetails.tsx
  src/extensions/workflows/state/WorkflowActions.ts
  src/extensions/workflows/state/WorkflowReducer.ts
  src/extensions/workflows/state/WorkflowSelectors.ts
  src/extensions/workflows/util/WorkflowRunner.ts
Due: prettier --write, eslint --fix

Cleanup code
  src/chart/scatter/backupTest.tsx
  src/extensions/sidebar/component/DrillDownModal.tsx
Due: prettier --write, eslint --fix

Refactoring and style fixed for scatter plot
  src/chart/scatter/ScatterPlotChart.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

Added authlib code directly, removed reference to private npm repo; changes some .env setting names
  package.json
  public/config/env-config.js
  src/solutions/auth/auth.js
  src/solutions/auth/authLib.js
  yarn.lock
Due: prettier --write

localhost db connect try
  src/application/ApplicationThunks.ts
Due: prettier --write, eslint --fix

Added tSNE workflows
  src/extensions/workflows/WorkflowSteps.ts
  src/extensions/workflows/component/WorkflowDrawerButton.tsx
  src/extensions/workflows/component/WorkflowStepSelectionModal.tsx
  src/extensions/workflows/util/WorkflowRunner.ts
Due: prettier --write, eslint --fix

Update single-value.adoc
  docs/modules/ROOT/pages/user-guide/reports/single-value.adoc
Due: none

Update single-value.adoc (#432)
  docs/modules/ROOT/pages/user-guide/reports/single-value.adoc
Due: none

Override themes default breakpoints
  src/component/theme/Themes.tsx
Due: prettier --write, eslint --fix

Remove extra divider ; fix typos
  docs/modules/ROOT/pages/developer-guide/configuration.adoc
  src/extensions/styling/StyleRuleCreationModal.tsx
Due: prettier --write, eslint --fix

Migrate NeoField text input to Needle
  src/chart/ChartUtils.ts
  src/component/field/Field.tsx
Due: prettier --write, eslint --fix

Fix node property graph dropdown ; Fix text input label placement
  src/card/view/CardViewFooter.tsx
  src/component/field/Field.tsx
Due: prettier --write, eslint --fix

reverted localhost change
  src/application/ApplicationThunks.ts
Due: prettier --write, eslint --fix

added process bundle plugin to prod build
  webpack.config.js
Due: prettier --write

reverted nvmrm changes.
  Dockerfile
Due: none

localhost db connection support
  src/application/ApplicationThunks.ts
  src/dashboard/Dashboard.tsx
  src/modal/ConnectionModal.tsx
Due: prettier --write, eslint --fix

Fix wronge merge parts
  src/chart/graph/component/GraphChartContextMenu.tsx
  src/chart/graph/component/GraphChartEditModal.tsx
  src/chart/graph/component/autocomplete/LabelTypeAutocomplete.tsx
  src/chart/graph/component/autocomplete/PropertyNameAutocomplete.tsx
  src/chart/graph/component/button/modal/DeletePropertyButton.tsx
  src/chart/map/layers/LineLayer.tsx
  src/chart/map/layers/MarkerLayer.tsx
  src/dashboard/header/DashboardHeaderTitleBar.tsx
Due: prettier --write, eslint --fix

Bumping versions
  package.json
  yarn.lock
Due: prettier --write

Removing all Mui4 references Bugs and console errors
  package.json
  src/card/view/CardViewFooter.tsx
  src/chart/graph/GraphChart.tsx
  src/chart/graph/component/GraphChartContextMenu.tsx
  src/chart/graph/component/GraphChartEditModal.tsx
  src/chart/graph/component/GraphEntityInspectionTable.tsx
  src/chart/graph/component/autocomplete/LabelTypeAutocomplete.tsx
  src/chart/graph/component/autocomplete/PropertyNameAutocomplete.tsx
  src/chart/graph/component/button/GraphChartFitViewButton.tsx
  src/chart/graph/component/button/modal/DeletePropertyButton.tsx
  src/component/field/Field.tsx
  src/extensions/advancedcharts/chart/areamap/PolygonLayer.tsx
Due: prettier --write, eslint --fix

Cleaning key Warnings
  src/chart/graph/component/GraphChartContextMenu.tsx
  src/chart/graph/component/GraphChartEditModal.tsx
  src/chart/graph/component/button/modal/DeletePropertyButton.tsx
Due: prettier --write, eslint --fix

Extra key Warnings
  src/chart/graph/component/GraphChartContextMenu.tsx
Due: prettier --write, eslint --fix

Console fixes
  src/card/view/CardViewFooter.tsx
  src/extensions/ExtensionsModal.tsx
  src/modal/ReportExamplesModal.tsx
Due: prettier --write, eslint --fix

Add Theme and Color picker migration out of Mui4
  package.json
  src/card/view/CardView.tsx
  src/component/field/ColorPicker.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Fix dark bg headers
  src/card/view/CardView.tsx
  src/component/theme/Themes.tsx
Due: prettier --write, eslint --fix

Footer margin
  src/card/view/CardViewFooter.tsx
Due: prettier --write, eslint --fix

Removing margin on view footer rule
  src/card/view/CardViewFooter.tsx
Due: prettier --write, eslint --fix

Last bump of dependencies (up for rollback)
  package.json
  yarn.lock
Due: prettier --write

Console errors on Example modal
  src/chart/line/LineChart.tsx
  src/chart/table/TableChart.tsx
  src/component/field/ColorPicker.tsx
  src/config/ExampleConfig.ts
  src/modal/ReportExamplesModal.tsx
Due: prettier --write, eslint --fix

fix test init
  cypress/integration/start_page.spec.js
Due: prettier --write

Added fixes for demo dashboard
  src/chart/bar/BarChart.tsx
  src/chart/map/layers/PolygonLayer.tsx
  src/chart/scatter/ScatterPlotChart.tsx
  src/dashboard/drawer/DashboardDrawer.tsx
  src/extensions/workflows/WorkflowSteps.ts
  src/extensions/workflows/component/WorkflowDrawerButton.tsx
  src/extensions/workflows/component/WorkflowListModal.tsx
  src/extensions/workflows/component/WorkflowRunnerModal.tsx
  src/extensions/workflows/component/WorkflowRunnerStepDetails.tsx
Due: prettier --write, eslint --fix

Changed dashboard to be skipped upon adding 'skipConfirmation' parameter to URL
  src/application/Application.tsx
  src/application/ApplicationActions.ts
  src/application/ApplicationReducer.ts
  src/application/ApplicationThunks.ts
  src/modal/LoadSharedDashboardModal.tsx
Due: prettier --write, eslint --fix

Added demo
  gallery/dashboards/kairntech.json
  gallery/dashboards/kairntech.png
Due: prettier --write

Changed dashboard to be skipped upon adding 'skipConfirmation' parameter to URL
  src/application/ApplicationActions.ts
  src/application/ApplicationThunks.ts
  src/modal/WelcomeScreenModal.tsx
Due: prettier --write, eslint --fix

fixing canvas tooltip bug and moved data logic for barChart inside useEffect and useState to prevent calculation every re-render
  src/card/Card.tsx
  src/chart/bar/BarChart.tsx
  src/chart/scatter/ScatterPlotChart.tsx
  src/settings/SettingsSelectors.ts
Due: prettier --write, eslint --fix

merge lost on 2.2.1
  src/card/view/CardView.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.json)) or (any of: *.js)
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
