Repository neo4j-labs/neodash: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.tsx": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.js": ["prettier --write"]
}

API Configuration params changes (#99)
  src/chart/table/TableChart.tsx
  src/utils/apiService.ts
Due: prettier --write, eslint --fix

added new images and doc for the new features
  docs/modules/ROOT/images/dashboardaccesscontrol.png
  docs/modules/ROOT/images/dashboardnew.png
  docs/modules/ROOT/images/dashboardnewsettings.png
  docs/modules/ROOT/pages/user-guide/dashboards.adoc
  docs/modules/ROOT/pages/user-guide/extensions/index.adoc
  docs/modules/ROOT/pages/user-guide/extensions/role-label-management.adoc
Due: none

added img for the modal
  docs/modules/ROOT/images/rolelabelmodal.png
  docs/modules/ROOT/images/rolesmenu.png
  docs/modules/ROOT/pages/user-guide/extensions/role-label-management.adoc
Due: none

Docs
  src/extensions/rbac/RBACManagementLabelButton.tsx
  src/extensions/rbac/RBACManagementModal.tsx
Due: prettier --write, eslint --fix

added new comment, removed text from button and added null to the where clause in the query
  docs/modules/ROOT/pages/user-guide/dashboards.adoc
  src/extensions/rbac/RBACManagementLabelButton.tsx
  src/extensions/rbac/RBACManagementModal.tsx
Due: prettier --write, eslint --fix

fixed two errors: on initialization two values of which one was empty and input.toLowerCase is not a function error
  src/chart/parameter/component/DateParameterSelect.tsx
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
  yarn.lock
Due: prettier --write, eslint --fix

fix zero was casting to string
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
Due: prettier --write, eslint --fix

Handling grants/denies for labels, big code cleanup
  src/extensions/rbac/RBACManagementMenu.tsx
  src/extensions/rbac/RBACManagementModal.tsx
  src/extensions/rbac/RBACUtils.ts
Due: prettier --write, eslint --fix

API Configuration implementation
  package.json
  src/card/settings/CardSettingsFooter.tsx
  src/chart/table/TableChart.tsx
  src/extensions/ExtensionConfig.tsx
  src/extensions/api-config/ApiConfigModal.tsx
  src/utils/apiService.ts
  yarn.lock
Due: prettier --write, eslint --fix

Cosmetic changes (#100)
  src/chart/table/TableChart.tsx
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

removed unnecessary imports and corrected misspellings
  src/extensions/rbac/RBACManagementModal.tsx
  src/extensions/rbac/RBACUtils.ts
Due: prettier --write, eslint --fix

Added role assignment logic
  src/extensions/rbac/RBACManagementModal.tsx
  src/extensions/rbac/RBACUtils.ts
Due: prettier --write, eslint --fix

Added in artificial delay to assign roles
  docs/modules/ROOT/pages/user-guide/extensions/role-label-management.adoc
  src/extensions/rbac/RBACManagementModal.tsx
  src/extensions/rbac/RBACUtils.ts
Due: prettier --write, eslint --fix

Updated docs and naming of the extension
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/user-guide/dashboards.adoc
  docs/modules/ROOT/pages/user-guide/extensions/access-control-management.adoc
  docs/modules/ROOT/pages/user-guide/extensions/index.adoc
  docs/modules/ROOT/pages/user-guide/extensions/role-label-management.adoc
  src/dashboard/sidebar/modal/DashboardSidebarAccessModal.tsx
  src/extensions/ExtensionConfig.tsx
  src/extensions/rbac/RBACManagementModal.tsx
  src/extensions/rbac/RBACUtils.ts
Due: prettier --write, eslint --fix

updated the query and fixed bug for fetching allowDenyList whenever selecting any db, not only just neo4j
  src/extensions/rbac/RBACManagementModal.tsx
  src/extensions/rbac/RBACUtils.ts
Due: prettier --write, eslint --fix

added 2 pics for access control that needs to be reviewed which one is better or take a completely new pic.
  public/accesscontrol.png
  public/accesscontrol2.png
  src/extensions/ExtensionConfig.tsx
Due: prettier --write, eslint --fix

Tweak Cypress test issues
  cypress/e2e/bar_chart.cy.js
  cypress/e2e/start_page.cy.js
Due: prettier --write

Tweak Cypress test issues (#796)
  cypress/e2e/bar_chart.cy.js
  cypress/e2e/start_page.cy.js
Due: prettier --write

Style fixes on tests
  cypress/e2e/table.cy.js
Due: prettier --write

Skip broken test for bar chart
  cypress/e2e/bar_chart.cy.js
Due: prettier --write

Skip broken tests in CI/CD pipeline
  cypress/e2e/bar_chart.cy.js
Due: prettier --write

Disable flake test for tables
  cypress/e2e/table.cy.js
Due: prettier --write

Fix/parameter select (#794)
  cypress/e2e/bar_chart.cy.js
  cypress/e2e/table.cy.js
  src/chart/parameter/component/DateParameterSelect.tsx
  src/chart/parameter/component/NodePropertyParameterSelect.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Clean up files, final fixes to phrasing in docs
  docs/modules/ROOT/pages/user-guide/extensions/access-control-management.adoc
  public/accesscontrol.png
  public/accesscontrol2.jpg
  public/accesscontrol2.png
  src/extensions/ExtensionConfig.tsx
Due: prettier --write, eslint --fix

First iteration of 2.4.3 release notes
  .github/workflows/master-deployment.yml
  Dockerfile
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  package.json
  release-notes.md
  src/modal/AboutModal.tsx
Due: prettier --write, eslint --fix

Handle token expiration in SSO (#611)
  package.json
  src/application/ApplicationActions.ts
  src/application/ApplicationReducer.ts
  src/application/ApplicationThunks.ts
  src/component/sso/SSOUtils.ts
  src/dashboard/Dashboard.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Finalized release notes
  changelog.md
  release-notes.md
Due: none

Skip flaky tests
  cypress/e2e/start_page.cy.js
Due: prettier --write

Fixed release notes
  changelog.md
  release-notes.md
Due: none

Added release notes for 2.4.3 release (#799)
  .github/workflows/master-deployment.yml
  Dockerfile
  changelog.md
  docs/modules/ROOT/pages/developer-guide/deploy-a-build.adoc
  package.json
  release-notes.md
  src/modal/AboutModal.tsx
Due: prettier --write, eslint --fix

Removed unneeded dashboard fetch for access control
  src/dashboard/sidebar/DashboardSidebar.tsx
Due: prettier --write, eslint --fix

Add RBAC extensions and dashboard access management (#793)
  cypress/e2e/start_page.cy.js
  docs/modules/ROOT/images/dashboardaccesscontrol.png
  docs/modules/ROOT/images/dashboardnew.png
  docs/modules/ROOT/images/dashboardnewsettings.png
  docs/modules/ROOT/images/rolelabelmodal.png
  docs/modules/ROOT/images/rolesmenu.png
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/user-guide/access-control.adoc
  docs/modules/ROOT/pages/user-guide/dashboards.adoc
  docs/modules/ROOT/pages/user-guide/extensions/access-control-management.adoc
  docs/modules/ROOT/pages/user-guide/extensions/index.adoc
  public/accesscontrol2.jpg
  src/dashboard/header/DashboardTitle.tsx
  src/dashboard/sidebar/DashboardSidebar.tsx
  src/dashboard/sidebar/menu/DashboardSidebarDashboardMenu.tsx
  src/dashboard/sidebar/modal/DashboardSidebarAccessModal.tsx
  src/extensions/ExtensionConfig.tsx
  src/extensions/rbac/RBACManagementLabelButton.tsx
  src/extensions/rbac/RBACManagementMenu.tsx
  src/extensions/rbac/RBACManagementModal.tsx
  src/extensions/rbac/RBACUtils.ts
Due: prettier --write, eslint --fix

adding migration for report action fix
  docs/modules/ROOT/pages/developer-guide/state-management.adoc
  docs/server.js
  src/dashboard/DashboardReducer.ts
  src/dashboard/DashboardThunks.ts
Due: prettier --write, eslint --fix

improving code following sonarcloud suggestions
  src/dashboard/DashboardThunks.ts
Due: prettier --write, eslint --fix

reverting version number and implemented patching function
  docs/modules/ROOT/pages/developer-guide/state-management.adoc
  docs/server.js
  src/dashboard/DashboardReducer.ts
  src/dashboard/DashboardThunks.ts
Due: prettier --write, eslint --fix

adding migration for report action fix (#800)
  src/dashboard/DashboardReducer.ts
  src/dashboard/DashboardThunks.ts
Due: prettier --write, eslint --fix

fixing forEach on null variable
  src/dashboard/DashboardThunks.ts
Due: prettier --write, eslint --fix

fixing forEach on null variable (#801)
  src/dashboard/DashboardThunks.ts
Due: prettier --write, eslint --fix

fix: in report config bar chart had duplicate settings
  src/config/ReportConfig.tsx
Due: prettier --write, eslint --fix

fixing gantt chart, new driver version was returning {low,high} numbers
  src/extensions/advancedcharts/chart/gantt/Utils.ts
Due: prettier --write, eslint --fix
